<div class="relative min-h-screen w-full overflow-hidden">
  <div class="flex grow flex-col content-start bg-gray-100 dark:bg-night-800 h-screen">
    <!-- Header -->
    <app-profile-header (opnedMenu)="onToggleSidebar($event)"
      (opnedMobileMenu)="onToggleMobileSidebar($event)"></app-profile-header>

    <div
      class="flex grow overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
      <!-- Sidebar -->
      <app-profile-sidebar [menu]="isSidebarExpanded" [mobileMenu]="isMobileSidebarExpanded"
        (tab)="onSelectedTab($event)"></app-profile-sidebar>

      <!-- main content -->
      <main class="flex-grow w-full bg-[#0b1b29] custom-background-img">
        <div class="w-full h-full overflow-y-scroll scroll-smooth p-4 sm:px-8 sm:pt-12">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
  <app-loader-main *ngIf="isLoading"></app-loader-main>
</div>
