input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  color: #68b9b9;

  background-image: url('../../../../../assets/images/Checkbox-2.png');
  background-size: cover;
  background-repeat: no-repeat;

  &.has-subscription {
    background-image: url('../../../../../assets/images/Checkbox.png') !important;
    color: #366464;
  }

  &.has-subscription:checked {
    background-image: url('../../../../../assets/images/Checkbox-active.png') !important;
  }

  &:checked {
    background-image: url('../../../../../assets/images/Checkbox-2-active.png') !important;
  }
}

  .custom-select {
    background: transparent; 
  }
    