@if(userCourse) {
  <ng-container #actions>
    <td (click)="goToUserDetails(userCourse.user.id)" class="cursor-pointer">{{ userCourse.user.firstName }} {{userCourse.user.lastName}}</td>
    <td>
      <app-progression [userCourse]="userCourse"></app-progression>
    </td>
    <td>{{ userCourse.quizPoints }} %</td>
    <td>{{ userCourse.points }}</td>
    <td (click)="goToPharmacyDetails(userCourse.user.key.pharmacy.id)" class="cursor-pointer">{{ userCourse.user.key.pharmacy.name }}</td>
    <td class="text-center">
      <button (click)="openConversation(userCourse.user.id, userCourse.course.id)" class="py-4 px-1 relative border-2 border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
        <svg-icon src="./assets/icons/heroicons/outline/chat-bubble-left-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        <span class="absolute inset-0 object-right-top -mr-6">
          @if (countUserMessages > 0) {
            <div class="inline-flex items-center px-1.5 py-0.5 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
              {{ countUserMessages }}
            </div>
          }
  </span>
      </button>
    </td>
  </ng-container>
}


