<div class="flex">
  <div class="relative p-2">
    <button (click)="toggleMenuNotification()" class="relative flex rounded-full text-sm" type="button">
      <span class="sr-only">Open notification menu</span>
      <svg-icon src="./assets/icons/heroicons/solid/alert.svg" [svgClass]="'h-6 w-6'"> </svg-icon>
    </button>
    @if(count > 0) {
      <div class="px-1 py-0.5 bg-primary min-w-5 rounded-full text-center text-white text-xs absolute -top-2 -end-1 translate-x-1/4 text-nowrap">
        <div class="absolute top-0 start-0 rounded-full -z-10 animate-ping bg-primary w-full h-full"></div>
        {{ count }}
      </div>
    }
    <!-- Dropdown -->
    <div
      [@openClose]="isOpenNotification ? 'open' : 'closed'"
      class="absolute right-0 z-20 mt-2 w-80 origin-top-right transform rounded-md bg-background py-4 shadow-custom ring-1 ring-transparent ring-opacity-5 transition focus:outline-none">
      <div class="py-2">
        <!-- En-tête du menu -->
        <div class="px-4 py-2 text-fontColor font-bold border-b border-gray-200">
          Notifications
        </div>
      </div>
      <!-- Liste des notifications -->
      <div class="max-h-64 overflow-y-auto divide-y divide-gray-100">
        <!-- <div *ngFor="let notification of notifications" class="cursor-pointer flex items-start px-4 py-3 hover:bg-gray-50 transition-colors duration-200" (click)="readNotification(notification)"> -->
        <!-- Icône de notification -->
        @if(notifications && notifications.length && !selectedNotification) {
          <div *ngFor="let notification of notifications.slice(0, visibleNotifications)"
               class="cursor-pointer flex items-start px-4 py-3 transition-colors duration-200"
               [ngClass]="{'hover:bg-gray-50': !selectedNotification }"
               (click)="!selectedNotification && showFullNotification(notification)"
               [ngClass]="{'blur-xs select-none !cursor-default': selectedNotification}">
            <div class="flex-shrink-0">
              <div *ngIf="notification.type" [ngClass]="{'w-8 h-8 bg-[#DCECEC]': notification.status == 1}"
                   class="flex items-center justify-center text-[#274848] rounded-full">
                <svg-icon [src]="iconPaths[notification.type] || 'assets/images/user-icon.svg'" svgClass="w-6 h-6 rounded-full object-cover" [ngClass]="{'!w-8 !h-8 !ml-1': notification.status == 0}"></svg-icon>
              </div>
            </div>
            <!-- Détails de la notification -->
            <div class="ml-3 flex-1">
              <div class="flex items-center justify-between">
                <div class="text-sm font-medium text-[#274848]">
                  {{ showText[notification.type]?.title }}
                </div>
                <!-- Heure -->
                <div class="text-xs text-gray-400 ml-2 whitespace-nowrap">
                  {{ getTimeDifference(notification.createdAt) }}
                </div>
              </div>
              <div class="text-xs text-gray-500 mt-1">
                {{ showText[notification.type]?.message }}
              </div>
            </div>
          </div>
        } @else {
          <!-- Message si aucune notification -->
          <div class="p-4 text-center text-fontColor font-normal">
            Pas de nouvelles notifications
          </div>
        }
      </div>
      @if(notifications && notifications.length && !selectedNotification) {
        <div *ngIf="visibleNotifications < notifications.length"
             [ngClass]="{'blur-xs select-none !cursor-default': selectedNotification}"
             class="px-4 py-3 text-center bg-gray-50 rounded-b-lg">
          <button (click)="!selectedNotification && loadMoreNotifications()" class="text-sm font-medium text-[#274848]"
                  [ngClass]="{'hover:underline': !selectedNotification }">
            Voir plus de notifications
          </button>
        </div>
      }
      <!-- Bloc de contenu complet de la notification sélectionnée -->
      <div *ngIf="selectedNotification" class="absolute top-9 right-0 left-0 p-4 mt-4 rounded-lg bg-white">
        <div class="text-lg font-semibold text-[#274848] mb-2">
          {{ selectedNotification.title }}
        </div>
        <div class="text-sm text-gray-600 mb-2 underline">
          {{ selectedNotification.createdAt | date }}
        </div>
        <div class="text-sm text-gray-700">
          <button class="underline font-bold" (click)="goToUserDetails(selectedNotification.sender.id)"> "{{ getUseName(selectedNotification.content) }}"</button>
          {{ getTextFromHtml(selectedNotification.content) }}
          <button class="underline font-bold" (click)="goToCourseDetails(selectedNotification.courseId)">"{{ getCourseName(selectedNotification.content) }}"</button>
        </div>
        <button (click)="closeNotificationDetail()" class="mt-4 text-sm font-medium text-[#274848] hover:underline">
          Retour à la liste des notifications
        </button>
      </div>
    </div>
  </div>
  <div class="relative ml-4">
    <!-- Profile Button -->
    <button (click)="toggleMenu()" class="relative flex rounded-full bg-card text-sm" type="button">
      <span class="sr-only">Open user menu</span>
      <img
        clickOutside
        (clickOutside)="isOpen = false"
        class="h-9 w-9 rounded-md"
        src="assets/avatars/account-profile.png"
        alt="" />
    </button>
    <!-- Dropdown -->
    <div
      [@openClose]="isOpen ? 'open' : 'closed'"
      class="absolute right-0 z-20 mt-2 w-60 origin-top-right transform rounded-md bg-background py-4 shadow-custom ring-1 ring-transparent ring-opacity-5 transition focus:outline-none">
      <div class="flext-row flex items-center px-4 pb-4">
        <div class="w-10 shrink-0">
          <img class="rounded-md" src="assets/avatars/account-profile.png" alt="" />
        </div>
        <div class="overflow-hidden px-2 text-sm font-semibold text-foreground">
          {{currentUser?.firstName}} {{currentUser?.lastName}}
          <p class="truncate text-ellipsis text-xs font-semibold text-muted-foreground">{{currentUser?.email}}</p>
        </div>
      </div>

      <div class="border-b border-dashed border-border"></div>

      <ul class="my-2 mx-4 flex flex-col">
        @for (item of profileMenu; track $index) {
          <li
            (click)="item.clickFunction ? item.clickFunction.apply(this) : null"
            [routerLink]="item.link ? [item.link] : []"
            :key="$index"
            class="inline-flex cursor-pointer items-center gap-2 rounded-md px-3 py-2 text-xs font-semibold text-muted-foreground hover:bg-card hover:text-primary">
            <svg-icon src="{{ item.icon }}" [svgClass]="'h-5 w-5 text-muted-foreground/50'"> </svg-icon>
            {{ item.title }}
          </li>
        }
      </ul>
      <hr class="border-dashed border-border" />
      <div class="mx-4 my-2">
        <span class="text-xs font-semibold text-foreground">Couleur</span>
        <div class="mt-2 grid grid-cols-2 gap-2">
          @for (item of themeColors; track $index) {
            <div
              :key="$index"
              (click)="toggleThemeColor(item.name)"
              [ngClass]="{ 'border-muted-foreground bg-card': item.name == themeService.theme().color }"
              class="focus-visible:ring-ring inline-flex h-8 cursor-pointer items-center justify-start whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
          <span
            [style.backgroundColor]="item.code"
            class="mr-1 flex h-5 w-5 shrink-0 -translate-x-1 items-center justify-center rounded-full bg-rose-500"></span>
              <p class="capitalize">{{ item.name }}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
