<!-- Nav Principal -->
<nav [ngClass]="menu ? 'w-60 lg:w-[300px]' : 'w-[80px]'"
  class="scrollbar-thumb-rounded scrollbar-track-rounded hidden h-full flex-col justify-between overflow-auto bg-[#0b1b29] pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-100 dark:bg-night-700 dark:scrollbar-thumb-night-500 dark:scrollbar-track-night-600 lg:flex">
  <ul class="p-4 pl-8 space-y-6">
    <ng-container *ngFor="let item of filteredMenuItems">
      <ng-container *ngTemplateOutlet="menuItemTemplate; context: { item: item }"></ng-container>
    </ng-container>
  </ul>
</nav>

<!-- Nav Mobile -->
<nav *ngIf="mobileMenu" [ngClass]="mobileMenu ? 'absolute' : 'hidden'"
  class="justify-center sm:justify-start bg-[#0b1b29] top-[61px] xs:top-[66px] left-0 w-full p-6 xs:px-5 sm:pl-20 lg:px-12 xs:py-5 flex lg:!hidden items-center z-10">
  <ul class="py-4 space-y-6">
    <ng-container *ngFor="let item of filteredMenuItems">
      <ng-container *ngTemplateOutlet="menuItemTemplate; context: { item: item }"></ng-container>
    </ng-container>
  </ul>
</nav>

<ng-template #menuItemTemplate let-item="item">
  <li (click)="selectedItem != item.tab && selectTab(item.tab)" class="cursor-pointer flex items-center gap-x-2 select-none"
    [ngClass]="{'active': selectedItem === item.tab}">

    <!-- Font Awesome CDN icon -->
    <i *ngIf="item.tab === 'classement'"
       [ngClass]="selectedItem === item.tab ? 'fas fa-trophy text-[#D1FA94]' : 'fas fa-trophy text-white'">
    </i>

    <i *ngIf="item.tab === 'marketplace'"
       [ngClass]="selectedItem === item.tab ? 'fas fa-gift text-[#D1FA94]' : 'fas fa-gift text-white'"
       class="w-5 h-5 flex items-center justify-center">
    </i>

    <!-- For other items, use your existing SVG -->
    <img *ngIf="item.tab !== 'classement' && item.tab !== 'marketplace' "
         [src]="'assets/images/' + (selectedItem === item.tab ? item.icon_active : item.icon) + '.svg'"
         [alt]="item.alt"
         [ngClass]="{'selected-icon': selectedItem === item.tab}">


    <h1 *ngIf="showContent" class="text-white text-sm transition-slide-in"
      [ngClass]="{'!text-[#D1FA94] font-bold' : selectedItem === item.tab }">
      <ng-container *ngIf="item.tab === 'aide'; else normalTab">
        <a [routerLink]="'/contactez-nous'">{{ item.label }}</a>
      </ng-container>
      <ng-template #normalTab>
        {{ item.label }}
      </ng-template>
    </h1>

  </li>
</ng-template>
