.swiper-container {
    width: 100%;
    overflow: hidden;
  }
    
  .swiper-wrapper {
    display: flex;
  }
    
  
  .swiper-slide {
    flex-shrink: 0;
    width: calc(100% / 8); // Default: 8 slides for larger screens
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        width: calc(100% / 6); // 6 slides for tablets
    }
    @media (max-width: 425px) {
        width: calc(100% / 4); // 4 slides for mobile
    }
    @media (max-width: 320px) {
        width: calc(100% / 3); // 3 slides for very small screens
    }
  }
  
    
  .swiper-slide img {
    object-fit: contain;
  }
  
  .swiper-container-1 {
    width: 100%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px; // Adjust space between slides here
    }
  }