<ng-container>
  <th class="min-w-[200px] cursor-pointer hover:bg-card" (click)="setSortColumn('name')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Utilisateur
      <app-sortable name="name" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[150px]">Progression</th>
  <th class="min-w-[100px]">Score des quiz</th>
  <th class="min-w-[100px] cursor-pointer hover:bg-card" (click)="setSortColumn('points')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Points gagnés
      <app-sortable name="points" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[200px] cursor-pointer hover:bg-card" (click)="setSortColumn('pharmacy')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Pharmacies
      <app-sortable name="pharmacy" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="w-[60px]"></th>
</ng-container>
