<div class="mx-auto px-4 py-4 sm:px-8">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground" *ngIf="type == 'edit'"> Modifié la quiz</h3>
      <div class="space-x-1 text-xs font-medium text-night-400 dark:text-night-300">
      </div>
    </div>
  </div>
  <div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full w-full py-2 sm:px-6 lg:px-8">
        <form [formGroup]="manageQuizForm">
          <div class="px-12">
            <div class="my-6 space-y-2 flex flex-col">
              <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="title">Titre</label>
              <input id="title" formControlName="title" type="text" placeholder="" required
                     [ngClass]="{'!border-[#f74350] !border-2': manageQuizForm.get('title')?.invalid && manageQuizForm.get('title')!.touched}"
                     class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
              <div *ngIf="manageQuizForm.get('title')!.hasError('required') && manageQuizForm.get('title')!.touched"
                   class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                Ce champ est obligatoire.
              </div>
            </div>
          </div>
          <div class="px-12">
            <div class="my-6 space-y-2 flex flex-col">
              <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="passingGrade">Note de passage</label>
              <input id="passingGrade" formControlName="passingGrade" type="number" placeholder="" required min="0"
                     [ngClass]="{'!border-[#f74350] !border-2': manageQuizForm.get('passingGrade')?.invalid && manageQuizForm.get('passingGrade')!.touched}"
                     class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
              <div *ngIf="manageQuizForm.get('passingGrade')!.hasError('required') && manageQuizForm.get('passingGrade')!.touched"
                   class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                Ce champ est obligatoire.
              </div>
            </div>
          </div>
          <div class="px-12">
            <div class="my-6 space-y-2 flex flex-col">
              <label for="details" class="font-semibold text-base text-gray-600 dark:text-night-100" >Détails</label>
              <textarea id="details" formControlName="details" cols="15" rows="5"
                        [ngClass]="{'!border-[#f74350] !border-2': manageQuizForm.get('details')?.invalid && manageQuizForm.get('details')!.touched}"
                        class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"
                        type="date"> </textarea>
              <div *ngIf="manageQuizForm.get('details')!.hasError('required') && manageQuizForm.get('details')!.touched"
                   class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                Ce champ est obligatoire.
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="flex items-center justify-end p-6 rounded-b space-x-2">
        <button class="font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 bg-transparent text-primary hover:bg-primary/10 focus-visible:ring-primary p-2 px-4 rounded-lg" type="button" (click)="bachToList()">
          Annuler</button>
        <button (click)="manageQuiz()" [disabled]="isLoading"
                class="bg-primary text-white p-2 px-4 rounded-md border-b-[3px] border-primary-dark flex items-center" type="button">
          <svg *ngIf="isLoading" class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          Enregistrer</button>
      </div>
    </div>
  </div>
</div>
