<div
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex backdrop-blur">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col min-w-[600px] bg-card outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start p-5 pl-0 border-b border-solid border-blueGray-200 rounded-t my-4">
        <div class="absolute top-[10px] right-[10px] ">
          <button (click)="onCloseActions()"
                  class="flex h-7 w-7 items-center text-red-600 justify-center rounded-md text-2xl hover:bg-card hover:text-red-800">
            <svg-icon src="./assets/icons/heroicons/outline/x-mark.svg" [svgClass]="'h-8 w-8'"></svg-icon>
          </button>
        </div>
        <span class="text-3xl w-1 h-[30px] mr-3 bg-primaryColor"></span>
        <h5 class="text-xl font-semibold text-foreground">
          Veuillez sélectionner un rôle
        </h5>
      </div>
      <!--body-->
      <div class="relative px-12">
        <form [formGroup]="manageKeyForm">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0 space-y-2 flex flex-col">
              <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="role">Profession</label>
              <select formControlName="role" id="role" [ngClass]="{'!border-[#f74350] !border-2': manageKeyForm.get('role')?.invalid && manageKeyForm.get('role')!.touched}"
                      class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor">
                <option value="PHARMACIST_HOLDER">Pharmacien Titulaire</option>
                <option value="PHARMACIST">Pharmacien</option>
                <option value="PREPARER">Préparateur en pharmacie</option>
                <option value="STUDENT">Parapharmacie</option>
              </select>
              <div *ngIf="manageKeyForm.get('role')!.hasError('required') && manageKeyForm.get('role')!.touched"
                   class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                Ce champ est obligatoire.
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-muted rounded-b">
        <button (click)="manageKey()" [disabled]="isLoading"
                class="bg-primary text-white p-2 rounded-md border-b-[3px] border-primary-dark flex items-center"
                type="button">
          <svg *ngIf="isLoading" class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
