@font-face {
    font-family: "SF Pro Display";
    font-weight: 900; /* Black */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Black.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 800; /* Heavy */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 600; /* Semibold */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 500; /* Medium */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 300; /* Light */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 200; /* Ultralight */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
}
@font-face {
    font-family: "SF Pro Display";
    font-weight: 100; /* Thin */
    font-style: normal;
    src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "SF Pro Display", sans-serif;
}

/* Gradient background for primary sections */
.background-gradient-primary {
    background: linear-gradient(105.45deg, #EDF6F6 0%, #E5FDFF 100.35%) !important;
}
