<section>


    <div class="w-full relative custom-background min-h-screen pt-10 px-5">
        <div class="flex justify-center items-center">
            <a [routerLink]="'/'">
                <img class="h-16 md:h-20 w-auto" src="assets/images/logo.png" alt="FORMAVANTIS">
            </a>
        </div>
        <div class="w-full flex justify-center pb-20">
            <div class="w-full sm:w-2/3 lg:w-1/2 xl:w-1/3 mt-10">
                <form *ngIf="!secondStep" class="space-y-3 text-center" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-6">
                        <h2 class="font-medium text-4xl xs:text-5xl xs:leading-10 text-white mb-3 text-center">Mot
                            se
                            passe oublié ?
                        </h2>
                        <p
                            class="font-normal text-sm leading-6 tracking-[-3%] text-white w-full md:w-3/5 mx-auto text-center">
                            Pour
                            modifier votre
                            mot de passe,
                            veuillez saisir l'adresse e-mail avec laquelle vous avez créé votre compte</p>
                    </div>
                    <div class="w-full md:w-3/4 mx-auto">
                        <div class="relative mb-3">
                            <input type="email" formControlName="email" id="email" placeholder="" required
                                class="peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] pr-4 pl-12" />
                            <label for="email"
                                class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent pl-[52px] p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Email</label>
                            <div class="absolute top-[17px] left-4">
                                <img src="assets/images/mail.png" alt="mail">
                            </div>
                            <div *ngIf="form.get('email')!.hasError('required') && form.get('email')!.touched"
                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                Le champ est obligatoire.
                            </div>
                            <div *ngIf="form.get('email')!.hasError('email') && form.get('email')!.touched"
                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                L'email saisi n'est pas valide.
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-3/4 mx-auto">
                        <button type="submit"
                            class="border-2 w-full border-secondaryfontColor bg-secondaryfontColor rounded-[40px] text-sm text-center px-11 py-3 mb-4 mt-2 text-[#0b1b29]">
                            Envoyer
                        </button>
                    </div>
                    <div class="w-full md:w-3/4 mx-auto !mt-0">
                        <a [routerLink]="'/connexion'">
                            <button type="button"
                                class="border-2 w-full border-secondaryfontColor rounded-[40px] text-sm text-center px-10 py-3 text-secondaryfontColor">
                                Retour
                            </button>
                        </a>
                    </div>
                </form>

                <form *ngIf="secondStep" class="space-y-3 text-center" [formGroup]="formReset"
                    (ngSubmit)="resetPassword()">
                    <div class="mb-6">
                        <h2 class="font-medium text-4xl xs:leading-10 text-white mb-3 text-center">Réinitialisation
                            mot
                            de passe
                        </h2>
                        <p
                            class="font-normal text-sm leading-6 tracking-[-3%] text-white w-full md:w-3/5 mx-auto text-center">
                            Pour modifier votre
                            mot de passe,
                            veuillez saisir le token récu par email avec le nouveau mot de passe.</p>
                    </div>
                    <div class="w-full md:w-3/4 mx-auto">
                        <div class="relative mb-3">
                            <input type="text" formControlName="token" id="token" placeholder="" required
                                class="peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] pr-4" />
                            <label for="token"
                                class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Token
                                reçu par email</label>
                            <div *ngIf="formReset.get('token')!.hasError('required') && formReset.get('token')!.touched"
                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                Le champ est obligatoire.
                            </div>
                        </div>
                        <div class="relative mb-3">
                            <input type="{{ !hidePassword ? 'password' : 'text' }}" formControlName="password"
                                id="password" placeholder="" required
                                class="peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] pr-4 pl-12" />
                            <label for="password"
                                class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent pl-[52px] p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Mot
                                de passe</label>
                            <div class="absolute top-[17px] left-4">
                                <img src="assets/images/lock.png" alt="lock-2">
                            </div>
                            <div (click)="togglePassword()" class="absolute top-[17px] right-4">
                                <img *ngIf="!hidePassword" src="assets/images/eye-open.png" alt="eye-open-2">
                                <img *ngIf="hidePassword" src="assets/images/eye-close.png" alt="eye-close-2">
                            </div>
                            <div *ngIf="formReset.get('password')!.hasError('required') && formReset.get('password')!.touched"
                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                Le champ est obligatoire.
                            </div>
                        </div>
                        <div class="relative mb-3">
                            <input type="{{ !hideConfirmPassword ? 'password' : 'text' }}"
                                formControlName="confirmPassword" id="confirmPassword" placeholder="" required
                                class="w-full peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4" />
                            <label for="confirmPassword"
                                class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Confirmer
                                mot de passe</label>
                            <div (click)="toggleConfirmPassword()" class="absolute top-[17px] right-4">
                                <img *ngIf="!hideConfirmPassword" src="assets/images/eye-open.png" alt="eye-open-1">
                                <img *ngIf="hideConfirmPassword" src="assets/images/eye-close.png" alt="eye-close-1">
                            </div>
                            <div *ngIf="formReset.get('confirmPassword')!.hasError('required') && formReset.get('confirmPassword')!.touched"
                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                Le champ est obligatoire.
                            </div>
                        </div>

                        <p [ngClass]="{'!text-red-500': !formReset.get('password')!.hasError('required') &&
                                             (formReset.get('password')!.hasError('minlength') || formReset.get('password')!.hasError('passwordInvalid')) && 
                                             formReset.get('password')!.touched}"
                            class="font-medium text-sm leading-7 tracking-[0.75px] text-secondaryfontColor text-left ml-2">
                            au moins 8 caractères avec un mélange de lettres, de chiffres, de
                            symboles.
                        </p>
                        <div *ngIf="passwordNotMatched" class="text-red-500 text-left !mt-1 text-sm ml-1">
                            Les mots de passe ne correspondent pas.
                        </div>
                    </div>
                    <div class="w-full md:w-3/4 mx-auto">
                        <button type="submit"
                            class="border-2 w-full border-secondaryfontColor bg-secondaryfontColor rounded-[40px] text-sm text-center px-11 py-3 mb-4 mt-2 text-[#0b1b29]">
                            Modifier
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <app-loader-main *ngIf="isLoading"></app-loader-main>
    </div>
</section>