<div class="relative min-h-screen w-full overflow-hidden" #restrictedSection>
    <div class="flex grow flex-col content-start bg-gray-100 dark:bg-night-800 h-screen">
        <!-- Header -->
        <app-profile-header (opnedMenu)="onToggleSidebar($event)"
            (opnedMobileMenu)="onToggleMobileSidebar($event)"></app-profile-header>
        <div
            class="flex grow scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
            <!-- Sidebar -->
            <app-courses-sidebar *ngIf="showSidebar()" [menu]="isSidebarExpanded" [mobileMenu]="isMobileSidebarExpanded"
                (data)="dataRecived($event)"></app-courses-sidebar>
            <!-- Learning Sidebar -->

            <!-- main content -->
            <main class="flex-grow w-full custom-background">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
    <app-loader-main *ngIf="isLoading"></app-loader-main>
</div>

