<ng-container #actions>
  <td (click)="goToUserDetails(user.id)" class="cursor-pointer">{{ user.email }}</td>
  <td (click)="goToUserDetails(user.id)"  class="cursor-pointer">{{ user.firstName }}</td>
  <td (click)="goToUserDetails(user.id)"  class="cursor-pointer">{{ user.lastName }}</td>
  <td>
    <label class="inline-flex items-center cursor-pointer" *ngIf="user.role != 'SUPER_ADMIN'">
      <input type="checkbox" class="sr-only peer" (click)="onChangeStatus($event, user.id, user.status)" [checked]="user.status == 1">
      <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#21c65f]"></div>
    </label>
  </td>
  <td>{{ user.gender }}</td>
  <td>{{ getRoleDisplayName(user.role) }}</td>
  <td>{{ user.createdAt | date:"dd-MM-yyyy" }}</td>
  @if (editable) {
    <td class="text-center" *ngIf="user.role != 'SUPER_ADMIN'">
      <button (click)="onEditUser(user.id)"
              class="flex h-7 w-7 items-center text-red-600 justify-center rounded-md hover:bg-card hover:text-red-800">
        <svg-icon src="./assets/icons/heroicons/outline/pencil-square.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
      </button>
    </td>
  }

</ng-container>

