<div class="py-6 bg-[#0D1B2A]">
    <div id="content-blocks" class="swiper-container-1 px-2 lg:block">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let block of blockItems">
                <div class="{{ block.bgColor }} flex items-stretch justify-center rounded-[40px] py-20 px-6 xs:min-w-80 xs:min-h-80 cursor-pointer"
                    *ngIf="block.title; else imageBlock">
                    <div class="flex flex-col justify-center items-center">
                        <img class="h-auto max-w-full" [src]="block.imgSrc" [alt]="block.altText">
                        <h5
                            class="font-light text-2xl leading-[54px] text-center mt-10 {{ block.textColor }}">
                            {{ block.title }}
                        </h5>
                    </div>
                </div>
                <ng-template #imageBlock>
                    <img class="h-auto max-w-full" [src]="block.imgSrc" [alt]="block.altText">
                </ng-template>
            </div>
        </div>
    </div>
</div>