<app-loader *ngIf="isLoading"></app-loader>
<div class="mx-auto px-4 py-4 sm:px-8" #actions>
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground">Liste des catégories</h3>
      <div class="space-x-1 text-xs font-medium text-muted-foreground">
        <a href="" class="hover:text-primary">Tous les catégories:</a>
        <span class="text-foreground">{{allCategoriesCount}}</span>
      </div>
    </div>
    <div class="inline-block space-x-4">
      <!--
      <button
        class="flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
        Import CSV
      </button>
      -->
      <button (click)="manageCategory('add')"
              class="flex items-center justify-center bg-primary text-white p-2 rounded-md border-b-[3px] border-primary-dark" type="button">
        <svg-icon src="assets/icons/heroicons/outline/plus.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        Ajouter une catégorie</button>
    </div>
  </div>
  <div class="md:flex grid md:space-x-2 max-md:space-y-2">
    <div class="flex lg:w-1/2 w-full flex-col rounded-xl border border-muted/20 bg-background p-2" *ngIf="categories.length">
      <mat-tree #tree [dataSource]="categories" [childrenAccessor]="childrenAccessor">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <div class="w-full flex justify-between">
            <p>{{node.name}}</p>
            <div class="flex">
              <button (click)="viewCategory(node.id)"
                      class="flex h-7 w-7 items-center text-green-600 justify-center rounded-md hover:bg-card hover:text-green-800">
                <svg-icon src="./assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
              </button>
              <button (click)="manageCategory('edit', node.id)"
                      class="flex h-7 w-7 items-center text-red-600 justify-center rounded-md hover:bg-card hover:text-red-800">
                <svg-icon src="./assets/icons/heroicons/outline/pencil-square.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
              </button>
            </div>
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                       [cdkTreeNodeTypeaheadLabel]="node.name">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <svg-icon
              [src]="
            tree.isExpanded(node) ? 'assets/icons/heroicons/outline/chevron-down.svg' : 'assets/icons/heroicons/outline/chevron-right.svg'
             "
              [svgClass]="'h-5 w-5'">
            </svg-icon>
          </button>
          <div class="w-full flex justify-between">
            <p>{{node.name}}</p>
            <div class="flex">
              <button (click)="viewCategory(node.id)"
                      class="flex h-7 w-7 items-center text-green-600 justify-center rounded-md hover:bg-card hover:text-green-800">
                <svg-icon src="./assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
              </button>
              <button (click)="manageCategory('edit', node.id)"
                      class="flex h-7 w-7 items-center text-red-600 justify-center rounded-md hover:bg-card hover:text-red-800">
                <svg-icon src="./assets/icons/heroicons/outline/pencil-square.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
              </button>
            </div>
          </div>

        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="py-4 text-center text-sm" *ngIf="!categories.length">Aucune catégorie trouvé</div>
    <div *ngIf="selectedCategory" class="flex lg:w-1/2 w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
      <div class="flex items-center space-x-2 font-semibold text-foreground leading-8">
                        <span clas="text-green-500">
                            <svg-icon src="assets/icons/heroicons/outline/building-storefront.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
                        </span>
        <span class="tracking-wide">À propos</span>
      </div>
      <div class="text-foreground">
        <div class="grid md:grid-cols-1 text-sm">
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Id</div>
            <div class="px-4 py-2">{{ selectedCategory.id }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Nom</div>
            <div class="px-4 py-2">{{ selectedCategory.name }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Slug</div>
            <div class="px-4 py-2">{{ selectedCategory.slug }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Position</div>
            <div class="px-4 py-2">{{ selectedCategory.position }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Recherchable</div>
            <div class="px-4 py-2">{{ selectedCategory.is_searchable ? 'Oui' : 'Non' }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Logo</div>
            <div class="px-4 py-2">
              <div class="rounded-lg align-bottom">
                <div class="m-0 border-2 rounded-lg border-dotted border-borderColor w-[148px] h-[148px] bg-background">
                  <img *ngIf="selectedCategory.logo" [src]="selectedCategory.logo.secure_url" alt="Logo category" class="object-cover w-full rounded-lg" />
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Banner</div>
            <div class="px-4 py-2">
              <div class="rounded-lg align-bottom">
                <div class="m-0 border-2 rounded-lg border-dotted border-borderColor w-[148px] h-[148px] bg-background">
                  <img *ngIf="selectedCategory.banner" [src]="selectedCategory.banner.secure_url" alt="Logo category" class="object-cover w-full rounded-lg" />
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Statut</div>
            <div class="px-4 py-2">
              <span class="ml-auto">
              <span *ngIf="selectedCategory?.status === 1" class="bg-green-500 py-1 px-2 rounded text-white text-sm">Active</span>
              <span *ngIf="selectedCategory?.status === 0" class="bg-red-500 py-1 px-2 rounded text-white text-sm">Inactive</span>
            </span>
            </div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Créé à</div>
            <div class="px-4 py-2">{{ selectedCategory.createdAt | date:'long' }}</div>
          </div>
          <div class="grid grid-cols-2">
            <div class="px-4 py-2 font-semibold">Mis à jour à</div>
            <div class="px-4 py-2">{{ selectedCategory.updatedAt | date:'long' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
