<section>
    <div class="bg-[#0D1B2A]">
        <div class="relative bg-[#0D1B2A] top-20 w-full">
            <div class=" w-3/4 mx-auto lg:p-6 space-y-4">
                <h1 class="text-[#D1FA94] text-xl">Politique de confidentialité</h1>
                <p class="text-white text-xl font-thin">
                    Chez Galiocare, la protection de vos données personnelles est une priorité. Nous nous engageons à
                    respecter la vie privée de nos utilisateurs et à traiter leurs informations personnelles de manière
                    sécurisée et conforme aux lois en vigueur.
                </p>

                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal uppercase">
                        Responsable du traitement:
                    </span> Le responsable du traitement des données collectées via notre plateforme est: Galiocare <br>
                    Adresse:  01 Rue Hédi KHEFACHA - 2080, Ariana <br>
                    E-mail: info&#64;galiocare.com
                </p>

                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal uppercase">
                            Données collectées:
                        </span>
                        Nous collectons uniquement les données nécessaires à l’utilisation et à l’amélioration de nos
                        services. Ces données incluent:
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Données personnelles: Nom, Prénom, Adresse e-mail, numéro de téléphone, profession, et
                            identifiants de connexion.
                        </li>
                        <li>Données professionnelles: Nom de la pharmacie, adresse professionnelle, nombre de
                            collaborateurs.
                        </li>
                        <li>Données techniques: adresse IP, type de navigateur, système d’exploitation, journaux de
                            connexion.</li>
                        <li>Données de formation: progrès, résultats aux quiz, certifications obtenues.
                        </li>
                    </ul>
                </div>

                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal uppercase">
                            Utilisations de données:
                        </span>
                        Les données collectées sont utilisées pour :
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Fournir et améliorer les services de formation en ligne.</li>
                        <li>Gérer les profils utilisateurs et les accès.</li>
                        <li>Suivre les progrès et émettre des certifications.</li>
                        <li>Communiquer avec les utilisateurs (notifications, support, actualités).</li>
                        <li>Garantir la sécurité de la plateforme et prévenir les fraudes.</li>
                        <li>Réaliser des analyses statistiques pour améliorer l’expérience utilisateur.</li>
                    </ul>
                </div>

                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal uppercase">
                            Partage des données:
                        </span>
                        Vos données ne seront jamais vendues ou louées a des tiers. Toutefois, elles peuvent être
                        partagées
                        avec:
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Des prestataires de services tiers(hébergement, maintenance, outils analytiques), uniquement
                            dans le cadre de nos besoins.
                        </li>
                        <li>Les autorités compétentes si requis par la loi.
                        </li>
                    </ul>
                </div>
                <p class="text-white text-xl font-thin">
                    Tous les partenaires et prestataires sont soumis a des obligations contractuelles strictes de
                    confidentialité.
                </p>

                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal uppercase">
                            Sécurité des Données:
                        </span>
                        Nous mettons en place des mesures techniques et organisationnelles pour protéger vos données
                        contre
                        les accès non autorisés, les pertes, ou les modifications :
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Chiffrement des données.
                        </li>
                        <li>Sauvegardes régulières.
                        </li>
                        <li>Contrôles d'accès stricts pour le personnel.
                        </li>
                    </ul>
                </div>

                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal uppercase">
                            Durée de Conservation:
                        </span>
                        Vos données sont conservées aussi longtemps que nécessaire pour remplir les objectifs pour
                        lesquels
                        elles ont été collectées, conformément aux exigences légales.
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Données de compte : conservées tant que le compte est actif.</li>
                        <li>Données de formation : conservées pour une durée de 1 an , à compter de la fin de la
                            formation.</li>
                    </ul>
                </div>

                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal uppercase">
                            Vos Droits:
                        </span>
                        Vous disposez des droits suivants :
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Accès : obtenir une copie des données vous concernant.</li>
                        <li>Rectification : corriger des données inexactes ou incomplètes.</li>
                        <li>Effacement : demander la suppression de vos données, sauf obligation légale contraire.</li>
                        <li>Opposition : vous opposer à l’utilisation de vos données pour certains traitements.</li>
                        <li>Portabilité : recevoir vos données dans un format structurant et lisible par machine.</li>
                    </ul>
                    <p class="text-white text-xl font-thin">
                        Pour exercer ces droits, veuillez nous contacter à : info&#64;galiocare.com .
                    </p>
                </div>

                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal uppercase">
                            Cookies:
                        </span>
                        Nous utilisons des cookies pour :
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Améliorer votre expérience utilisateur.</li>
                        <li>Rectification : corriger des données inexactes ou incomplètes.</li>
                        <li>Analyser le trafic et les performances de la plateforme.</li>
                    </ul>
                    <p class="text-white text-xl font-thin">
                        Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur.

                    </p>
                </div>

                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal uppercase">
                        Modifications de la Politique:
                    </span>
                    Cette politique de confidentialité peut être mise à jour pour refléter des modifications de nos
                    pratiques ou des lois applicables. Toute modification majeure sera notifiée aux utilisateurs.
                    Date de dernière mise à jour : 13/01/2026
                </p>

                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal uppercase">
                        Contact:
                    </span>
                    Pour toute question concernant cette politique ou le traitement de vos données, vous pouvez nous
                    écrire
                    à :
                    Galiocare E-mail : info&#64;galiocare.com <br> Adresse : 01 Rue Hédi KHEFACHA- 2080, Ariana
                </p>

            </div>
        </div>
    </div>
</section>
