<ng-container>
  <th class="min-w-[200px] cursor-pointer hover:bg-card" (click)="setSortColumn('title')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Page Titre
      <app-sortable name="title" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[200px] cursor-pointer hover:bg-card" (click)="setSortColumn('permalink')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Lien permanent
      <app-sortable name="permalink" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <!-- <th class="min-w-[200px]">Robots</th> -->
  <th class="min-w-[200px]">Meta Tags</th>
  <th class="min-w-[50px]">Statut</th>
  <th class="min-w-[150px] cursor-pointer hover:bg-card" (click)="setSortColumn('createdAt')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Créé à
      <app-sortable name="createdAt" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[150px] cursor-pointer hover:bg-card" (click)="setSortColumn('updatedAt')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Mis à jour à
      <app-sortable name="updatedAt" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="w-[60px]"></th>
</ng-container>
