<div class="flex flex-wrap items-center justify-between gap-2 py-3">
  <div class="flex flex-wrap gap-6">
    <div class="flex">
      <label class="relative text-muted-foreground">

      </label>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <select class="w-40 text-muted-foreground" (change)="onChangeStatus($event)">
        <option disabled selected>-- Statut --</option>
        <option value="">Tous</option>
        <option value="0">Inactif</option>
        <option value="1">Actif</option>
      </select>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <select class="w-40 text-muted-foreground" (change)="onChangeDate($event)">
        <option disabled selected>-- Date --</option>
        <option value="">Tous</option>
        <option value="1">En cours</option>
        <option value="2">Passé</option>
        <option value="3">À venir</option>
      </select>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <select class="w-40 text-muted-foreground" (change)="onChangePackage($event)">
        <option disabled selected>-- Package --</option>
        <option value="">Tous</option>
        <option *ngFor="let pack of packages" value="{{pack.id}}">{{ pack.name }}</option>
      </select>
    </div>
  </div>
</div>
