<section *ngIf="!isLoading" class="relative h-[82vh]">
    <div *ngIf="loggedUser?.role == 'PHARMACIST_HOLDER'" class="sm:-mt-8">
        <a class="flex items-center justify-start gap-x-4 my-4 cursor-pointer" [routerLink]="'/profil/mon-equipe'"
            (click)="loadingService.setTab('mon-equipe');">
            <img src="assets/images/arrow-back-simple.png" alt="arrow-back">
            <h6 class="text-titleColor font-semibold text-xs">
                Retour à l'équipe</h6>
        </a>
    </div>

    <div class="w-full flex flex-col items-center space-y-4 sm:space-y-0 sm:flex-row sm:justify-between mt-8 pb-8 border-b border-[#88BFBF]"
        [ngClass]="{'mt-0' : user?.role == 'PHARMACIST_HOLDER'}">
        <div class="flex flex-col gap-y-6 xs:flex-row justify-center items-center gap-x-7">
            <div class="relative mx-auto ">
                <!-- <img *ngIf="!user?.img_link"
                class="rounded-full relative w-[110px] h-[110px] object-contain ml-5 border-2 border-fontColor"
               [src]="'https://i.pravatar.cc/100?img=' + random" alt="avatar" /> -->
                <img *ngIf="!user?.img_link"
                    class="rounded-full relative w-[110px] h-[110px] object-contain ml-5 border-2 border-secondaryfontColor"
                    src="assets/images/default-img.png" alt="img-profile" />
                <img *ngIf="user?.img_link"
                    class="rounded-full relative w-[110px] h-[110px] object-contain ml-5 border-2 border-secondaryfontColor"
                    src="{{user?.img_link}}" alt="img-profile" />
            </div>
            <div class="space-y-1">
                <h1 class="font-semibold text-2xl text-secondaryfontColor capitalize">{{user?.firstName}}
                    {{user?.lastName}}</h1>
                <p class="font-semibold text-sm text-white">
                    {{ getRoleDisplayName(user?.role) }}
                </p>
                <p class="font-semibold text-sm text-white">Date d'adhésion : <span class="underline text-secondaryfontColor">{{
                        user?.createdAt | date}}</span></p>
            </div>
        </div>
        <!-- <div class="flex items-center gap-x-7 pr-10">
            <div>
                <img src="assets/images/Group.svg" alt="medallions">
            </div>
            <div>
                <h1 class="font-semibold text-lg text-[#19272A]">Collection de badges</h1>
                <p class="font-semibold text-xs text-[#476F77]">1 certification réalisée</p>
            </div>
        </div> -->
    </div>

    <div class="mt-8">
        <form class="space-y-4" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
            <div class="w-full">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 2xl:grid-cols-8 gap-4">
                    <div class="relative">
                        <div class="absolute top-3 left-4 cursor-pointer">
                            <img src="assets/images/calendar.png" alt="calendar">
                        </div>
                        <select id="month"
                            class="custom-select z-[2] text-[#88BFBF] relative w-full peer transition duration-200 ease-linear bg-transparent outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#88BFBF] focus:ring-fontColor focus:border-[#88BFBF] focus:outline-none rounded-xl py-[10px] pl-12"
                            formControlName="month" (click)="isMonthOpen = !isMonthOpen" (blur)="isMonthOpen = false"
                            (change)="onSubmit()" [ngClass]="{'cursor-not-allowed' : courses?.length == 0}">
                            <option class="text-[#88BFBF] font-medium" value="0" selected disabled>Ce mois-ci</option>
                            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                        </select>
                        <div class="absolute top-3 right-[14px] z-[1] transition-transform duration-300"
                            [ngClass]="{'rotate-180': isMonthOpen, 'rotate-0': !isMonthOpen}">
                            <img src="assets/images/arrow-solid-Down.png" alt="select icon" />
                        </div>
                    </div>
                    <!-- <div class="relative">
                        <div class="absolute top-[10px] left-4 cursor-pointer">
                            <img src="assets/images/company.png" alt="company">
                        </div>
                        <select id="course"
                            class="custom-select z-[2] text-fontColor relative w-full peer transition duration-200 ease-linear bg-transparent outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-xl py-[10px] pl-12"
                            formControlName="course" (click)="isCourseOpen = !isCourseOpen"
                            (blur)="isCourseOpen = false" (change)="onSubmit()"
                            [ngClass]="{'cursor-not-allowed' : courses.length == 0}">
                            <option class="text-[#476F77] font-medium" value="0" selected disabled>Cours</option>
                            <option *ngFor="let course of filterCourses" [value]="course.value">{{ course.name }}
                            </option>
                        </select>
                        <div class="absolute top-[12px] right-[14px] z-[1] transition-transform duration-300"
                            [ngClass]="{'rotate-180': isCourseOpen, 'rotate-0': !isCourseOpen}">
                            <img src="assets/images/arrow-solid-Down.png" alt="select icon" />
                        </div>
                    </div> -->
                    <div *ngIf="isFilter" (click)="resetFilter()"
                        class="flex items-center gap-2 text-[#88BFBF] hover:text-[#366464] cursor-pointer">
                        <p class="underline">Reset Filter</p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="!isFilter" class="w-full mt-8 pb-8">
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left border border-[#366464] table-auto">
                <thead class="text-xs font-medium text-white bg-[#366464]">
                    <tr>
                        <th scope="col" class="pl-10 pr-6 py-8 md:px-6 md:py-4 xl:w-2/5">
                            <div class="flex items-center gap-x-2">
                                <!-- <input class="!ring-transparent" type="checkbox" [(ngModel)]="selectAll"
                                    (change)="toggleAll()" /> -->
                                <p class="">Nom du cours</p>
                            </div>
                        </th>
                        <th scope="col" class="py-1 px-6 sm:py-4">Progression </th>
                        <th scope="col" class="select-none cursor-pointer py-1 px-1 sm:py-4 md:flex items-center gap-x-2" (click)="sort()">Score<img src="assets/images/help-circle.svg" alt="help">
                            <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'rotate-180': !sortOrder, 'rotate-0': sortOrder}"
                                width="16" height="16" fill="currentColor" class="inline-block" viewBox="0 0 16 16">
                                <path d="M4.646 6.646a.5.5 0 0 1 .708 0L8 9.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />                            
                            </svg>
                        </th>
                        <th scope="col" class="py-1 px-1 sm:py-4">Nom du laboratoire</th>
                        <th scope="col" class="py-1 px-6 sm:py-4">Points gagnés</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="courses?.length > 0 && !isLoading; else noCourses">
                        <tr *ngFor="let course of this.user?.enrolls" class="bg-transparent border-b border-[#366464]">
                            <th scope="row" class="pl-10 pr-20 py-8 md:px-6 md:py-4 font-medium whitespace-nowrap">
                                <div class="flex items-center gap-x-4">
                                    <!-- <input class="!ring-transparent" type="checkbox" [checked]="isChecked(membre)"
                                    (change)="toggleMembre(membre)" /> -->
                                    <div class="">
                                        <p class="text-white font-medium">{{ course.course.title }}</p>
                                    </div>
                                </div>
                            </th>
                            <td class="px-10 py-8 md:px-6 md:py-4 text-[#1B9198] text-right md:text-left text-xs">
                                <ng-container *ngIf="courseProgressions[course.id]">
                                    {{ getRoundedScore(courseProgressions[course.id].progression) }}% terminé
                                    <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-4 mt-2">
                                        <div class="bg-[#1B9198] h-1.5 rounded-full"
                                            [style.width]="getRoundedScore(courseProgressions[course.id].progression) + '%'">
                                        </div>
                                    </div>
                                </ng-container>
                            </td>

                            <td class="pl-1 pr-32 py-8 md:pr-6 md:py-4">
                                <span class="bg-[#19272A] px-[10px] py-[5px] text-white rounded-2xl">
                                    {{  getRoundedScore(course.quizPoints) + ' %' }}
                                </span>
                            </td>

                            <td class="pl-3 pr-1 md:pl-2 md:pr-6 md:py-4 text-white">
                                <ng-container *ngIf="courseProgressions[course.id]">
                                    {{ courseProgressions[course.id].pharmacy }}
                                </ng-container>
                            </td>

                            <td class="pl-1 pr-20 py-8 md:pr-6 md:py-4"><span
                                    class="text-[#B98407] font-bold text-xs flex gap-2 items-center"><img
                                        src="assets/images/Medals.svg" alt="medals"> {{ course.points }}
                                    points</span>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #noCourses>
                        <p class="w-48 sm:w-auto text-[#476F77] pl-10 pr-6 py-8 md:px-6 md:py-4">Aucun cours trouvé</p>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="isFilter" class="w-full mt-8 pb-8">
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left border border-[#366464] table-auto">
                <thead class="text-xs font-medium text-white bg-[#366464]">
                    <tr>
                        <th scope="col" class="pl-10 pr-6 py-8 md:px-6 md:py-4 xl:w-2/5">
                            <div class="flex items-center gap-x-2">
                                <!-- <input class="!ring-transparent" type="checkbox" [(ngModel)]="selectAll"
                                    (change)="toggleAll()" /> -->
                                <p class="">Nom du cours</p>
                            </div>
                        </th>
                        <th scope="col" class="py-1 px-6 sm:py-4">Progression </th>
                        <th scope="col" class="select-none cursor-pointer py-1 px-1 sm:py-4 md:flex items-center gap-x-2" (click)="sort()">Score<img src="assets/images/help-circle.svg" alt="help">
                            <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{'rotate-180': !sortOrder, 'rotate-0': sortOrder}"
                                width="16" height="16" fill="currentColor" class="inline-block" viewBox="0 0 16 16">
                                <path d="M4.646 6.646a.5.5 0 0 1 .708 0L8 9.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />                            
                            </svg>
                        </th>
                        <th scope="col" class="py-1 px-1 sm:py-4">Nom du laboratoire</th>
                        <th scope="col" class="py-1 px-6 sm:py-4">Points gagnés</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="filteredEnrolls?.length > 0 && !isLoading; else noCourses">
                        <tr *ngFor="let course of filteredEnrolls" class="bg-transparent border-b border-[#366464]">
                            <th scope="row" class="pl-10 pr-20 py-8 md:px-6 md:py-4 font-medium whitespace-nowrap">
                                <div class="flex items-center gap-x-4">
                                    <!-- <input class="!ring-transparent" type="checkbox" [checked]="isChecked(membre)"
                                    (change)="toggleMembre(membre)" /> -->
                                    <div class="">
                                        <p class="text-white font-medium">{{ course.course.title }}</p>
                                    </div>
                                </div>
                            </th>
                            <td class="px-10 py-8 md:px-6 md:py-4 text-[#1B9198] text-right md:text-left text-xs">
                                <ng-container *ngIf="courseProgressions[course.id]">
                                    {{ getRoundedScore(courseProgressions[course.id].progression) }}% terminé
                                    <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-4 mt-2">
                                        <div class="bg-[#1B9198] h-1.5 rounded-full"
                                            [style.width]="getRoundedScore(courseProgressions[course.id].progression) + '%'">
                                        </div>
                                    </div>
                                </ng-container>
                            </td>

                            <td class="pl-1 pr-32 py-8 md:pr-6 md:py-4">
                                <span class="bg-[#19272A] px-[10px] py-[5px] text-white rounded-2xl">
                                    {{ course.quizPoints }}
                                </span>
                            </td>

                            <td class="pl-3 pr-1 md:pl-2 md:pr-6 md:py-4 text-white">
                                <ng-container *ngIf="courseProgressions[course.id]">
                                    {{ courseProgressions[course.id].pharmacy }}
                                </ng-container>
                            </td>

                            <td class="pl-1 pr-20 py-8 md:pr-6 md:py-4"><span
                                    class="text-[#B98407] font-bold text-xs flex gap-2 items-center"><img
                                        src="assets/images/Medals.svg" alt="medals"> {{ course.points }}
                                    points</span>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #noCourses>
                        <p class="w-48 sm:w-auto text-[#476F77] pl-10 pr-6 py-8 md:px-6 md:py-4">Aucun cours trouvé</p>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
    <app-alert [handleError]="handleError" [handleResponse]="handleResponse" [handleErrorResponse]="handleErrorResponse"
        [alertMessage]="alertMessage"></app-alert>
</section>

<app-loader-main *ngIf="isLoading"></app-loader-main>