<div class="mx-auto px-4 py-4 sm:px-8">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground" *ngIf="type == 'edit'"> Modifié la Leçon</h3>
      <div class="space-x-1 text-xs font-medium text-night-400 dark:text-night-300">
      </div>
    </div>
  </div>
  <div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full w-full py-2 sm:px-6 lg:px-8">
        @if(manageLessonForm) {
          <form [formGroup]="manageLessonForm">
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="course">Formation</label>

                <mat-select id="course" formControlName="course" (selectionChange)="onSelectCourse($event)"
                            [ngClass]="{'!border-[#f74350] !border-2': manageLessonForm.get('course')?.invalid && manageLessonForm.get('course')!.touched}"
                            class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor">
                  <mat-option *ngFor="let course of courses" value="{{ course.id }}">{{ course.title }}</mat-option>
                </mat-select>

                <div *ngIf="manageLessonForm.get('course')!.hasError('required') && manageLessonForm.get('course')!.touched"
                     class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
            @if (selectedCourse) {
              <div class="px-12">
                <div class="my-6 space-y-2 flex flex-col">
                  <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="section">Section</label>

                  <mat-select id="section" formControlName="section" (selectionChange)="onSelectSection($event)"
                              [ngClass]="{'!border-[#f74350] !border-2': manageLessonForm.get('section')?.invalid && manageLessonForm.get('section')!.touched}"
                              class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor">
                    <mat-option *ngFor="let section of selectedCourse.sections" value="{{ section.id }}">{{ section.title }}</mat-option>
                  </mat-select>

                  <div *ngIf="manageLessonForm.get('section')!.hasError('required') && manageLessonForm.get('section')!.touched"
                       class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                    Ce champ est obligatoire.
                  </div>
                </div>
              </div>
            }
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="title">Titre</label>
                <input id="title" formControlName="title" type="text" placeholder="" required
                       [ngClass]="{'!border-[#f74350] !border-2': manageLessonForm.get('title')?.invalid && manageLessonForm.get('title')!.touched}"
                       class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
                <div *ngIf="manageLessonForm.get('title')!.hasError('required') && manageLessonForm.get('title')!.touched"
                     class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="type">Type</label>
                <mat-select id="type" formControlName="type"
                            [ngClass]="{'!border-[#f74350] !border-2': manageLessonForm.get('type')?.invalid && manageLessonForm.get('type')!.touched}"
                            class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor">
                  <mat-option *ngFor="let type of courseTypes" value="{{ type.value }}">{{ type.label }}</mat-option>
                </mat-select>
                <div *ngIf="manageLessonForm.get('type')!.hasError('required') && manageLessonForm.get('type')!.touched"
                     class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" >Détails</label>
                <div class="NgxEditor__Wrapper">
                  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                  <ngx-editor id="description" [editor]="editor" formControlName="details" placeholder="tapez ici..."
                              class="bg-inputColor text-subtitleColor w-[100%] py-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"
                              [ngClass]="{'!border-[#f74350] !border-2': manageLessonForm.get('details')?.invalid && manageLessonForm.get('details')!.touched}"
                  ></ngx-editor>
                </div>
                <div *ngIf="manageLessonForm.get('details')!.hasError('required') && manageLessonForm.get('details')!.touched"
                     class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                  Ce champ est obligatoire.
                </div>

              </div>
            </div>
          </form>
        }
      </div>
      <div class="flex items-center justify-end p-6 rounded-b space-x-2">
        <button class="font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 bg-transparent text-primary hover:bg-primary/10 focus-visible:ring-primary p-2 px-4 rounded-lg" type="button" (click)="bachToList()">
          Annuler</button>
        <button (click)="manageLesson()" [disabled]="isLoading"
                class="bg-primary text-white p-2 px-4 rounded-md border-b-[3px] border-primary-dark flex items-center" type="button">
          <svg *ngIf="isLoading" class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          Enregistrer</button>
      </div>
    </div>
  </div>
</div>
