<div class="flex flex-wrap items-center justify-between gap-2 py-3">
  <div class="flex flex-wrap gap-6">
    <div class="flex">
      <label class="relative text-muted-foreground">
        <div class="absolute left-2.5 top-3.5">
          <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input class="pl-8 pr-2 w-[300px]" placeholder="Rechercher..." type="text" value="" formControlName="text"/>
        </form>
      </label>
    </div>
  </div>
</div>
