<section class="w-full relative h-[89vh] overflow-y-scroll">
    <div class="px-4 sm:px-[25px] lg:pr-0 py-[10px]">
        <a [routerLink]="'/notre-plateforme/details-cours/'+ coursId"
            class="w-max flex items-center justify-start gap-x-2 my-4 cursor-pointer">
            <img src="assets/images/arrow-back-simple.png" alt="arrow-back">
            <h6 class="text-titleColor font-semibold text-xs">Retour au cours</h6>
        </a>
        <div class="w-full flex flex-col lg:flex-row items-start lg:items-center space-y-4 lg:space-y-0">
            <div class="w-full lg:w-1/3 xl:w-1/4">
                <div class="my-8 space-y-6">
                    <h1 class="font-semibold text-2xl text-white">Avis et notes des clients</h1>
                    <!-- Star Rating -->
                    <div class="flex items-center space-x-4 mb-4">
                        <div class="flex space-x-1">
                            <svg *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                                xmlns="http://www.w3.org/2000/svg" [attr.fill]="i < currentRating ? '#FCD34D' : 'none'"
                                class="w-6 h-6" viewBox="0 0 24 24" stroke="#FCD34D" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 2l2.94 5.97L22 9.27l-4.81 4.69 1.14 6.62L12 17.77l-6.33 3.82 1.14-6.62L2 9.27l7.06-1.3L12 2z" />
                            </svg>
                        </div>
                        <p class="text-xs text-white">{{currentRating}} sur 5</p>
                    </div>
                    <p class="text-sm text-white">Basé sur {{ ratings?.totalReviews}} avis</p>
                </div>
            </div>
            <div class="w-full lg:w-1/2 xl:w-3/4">
                <div class="w-full md:w-3/5 lg:w-full xl:w-1/2 lg:my-8 space-y-5">
                    <div class="w-full flex items-center space-x-3">
                        <p class="text-[#1B9198] text-sm w-1/3 xs:w-1/4 sm:w-1/6 md:w-1/5 lg:w-1/3 xl:w-1/5">5 étoiles
                        </p>
                        <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-2 mt-2 !ml-0">
                            <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="ratings?.['4']?.count + '%'"></div>
                        </div>
                        <p class="text-[#1B9198] text-sm w-1/6 text-right">{{ ratings?.['4']?.count }}</p>
                    </div>
                    <div class="w-full flex items-center space-x-3">
                        <p class="text-[#1B9198] text-sm w-1/3 xs:w-1/4 sm:w-1/6 md:w-1/5 lg:w-1/3 xl:w-1/5">4 étoiles
                        </p>
                        <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-2 mt-2 !ml-0">
                            <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="ratings?.['3']?.count + '%'"></div>
                        </div>
                        <p class="text-[#1B9198] text-sm w-1/6 text-right">{{ ratings?.['3']?.count }}</p>
                    </div>
                    <div class="w-full flex items-center space-x-3">
                        <p class="text-[#1B9198] text-sm w-1/3 xs:w-1/4 sm:w-1/6 md:w-1/5 lg:w-1/3 xl:w-1/5">3 étoiles
                        </p>
                        <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-2 mt-2 !ml-0">
                            <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="ratings?.['2']?.count + '%'"></div>
                        </div>
                        <p class="text-[#1B9198] text-sm w-1/6 text-right">{{ ratings?.['2']?.count }}</p>
                    </div>
                    <div class="w-full flex items-center space-x-3">
                        <p class="text-[#1B9198] text-sm w-1/3 xs:w-1/4 sm:w-1/6 md:w-1/5 lg:w-1/3 xl:w-1/5">2 étoiles
                        </p>
                        <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-2 mt-2 !ml-0">
                            <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="ratings?.['1']?.count + '%'"></div>
                        </div>
                        <p class="text-[#1B9198] text-sm w-1/6 text-right">{{ ratings?.['1']?.count }}</p>
                    </div>
                    <div class="w-full flex items-center space-x-3">
                        <p class="text-[#1B9198] text-sm w-1/3 xs:w-1/4 sm:w-1/6 md:w-1/5 lg:w-1/3 xl:w-1/5">1 étoile
                        </p>
                        <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-2 mt-2 !ml-0">
                            <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="ratings?.['0']?.count + '%'"></div>
                        </div>
                        <p class="text-[#1B9198] text-sm w-1/6 text-right">{{ ratings?.['0']?.count }}</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border-[#B0EDF1] my-8 lg:mt-0">

        <div *ngFor="let rating of ratings?.ratings, let i = index" class="w-full flex flex-col sm:flex-row items-start mb-8">
            <div class="w-full sm:w-2/6 lg:w-[15%] space-y-5 relative">
                <!-- Star Rating -->
                <div class="flex items-center space-x-1 mb-4">
                    <div class="flex space-x-1">
                        <svg *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                            xmlns="http://www.w3.org/2000/svg" [attr.fill]="i < rating.rating ? '#FCD34D' : 'none'"
                            class="w-6 h-6" viewBox="0 0 24 24" stroke="#FCD34D" stroke-width="2">

                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 2l2.94 5.97L22 9.27l-4.81 4.69 1.14 6.62L12 17.77l-6.33 3.82 1.14-6.62L2 9.27l7.06-1.3L12 2z" />
                        </svg>
                    </div>
                </div>

                <!-- User Info -->
                <div class="flex items-center">
                    <img *ngIf="!rating?.user?.img_link"  class="w-10 h-10 rounded-full object-contain mr-4" src="assets/images/default-img.png"
                        alt="User profile picture" />
                    <img *ngIf="rating?.user?.img_link" class="w-10 h-10 rounded-full object-contain mr-4" [src]="rating?.user?.img_link" alt="User profile picture" />
                    <div>
                        <p class="text-sm font-semibold text-secondaryfontColor">{{ rating?.user?.firstName }} {{ rating?.user?.lastName }}</p>
                        <p class="text-xs font-semibold text-white">{{ rating?.user?.firstName + '.' + rating?.user?.lastName }}</p>
                    </div>
                </div>

                <!-- Date -->
                <p class="text-xs text-white my-4 capitalize">{{rating?.createdAt | date}}</p>
            </div>
            <div class="w-full sm:w-2/3 lg:w-[85%] space-y-6 mt-4 sm:mt-0">
                <!-- <h3 class="font-semibold text-xl text-[#19272A]">Amazing course</h3> -->
                <!-- Review Content -->
                <p class="text-sm text-white mb-4">{{ rating?.comment}}</p>
            </div>
        </div>

    </div>

</section>