<app-loader *ngIf="isLoading"></app-loader>
<div class="mx-auto px-4 py-4 sm:px-8" #actions>
  <div class="mb-4 flex justify-between">
    <div class="mb-4 flex justify-between">
      <div class="inline-block">
        <h3 class="font-semibold text-foreground" *ngIf="type == 'add'">Ajouté un certificat</h3>
        <h3 class="font-semibold text-foreground" *ngIf="type == 'edit'"> Modifié le certificat</h3>
        <div class="space-x-1 text-xs font-medium text-night-400 dark:text-night-300">
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex grid md:space-x-2 max-md:space-y-2">
    <div class="flex lg:min-w-[400px] w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
      <form [formGroup]="manageCertificateForm">
        <div class="px-2">
          <div class="my-6 space-y-2 flex flex-col">
            <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="name">Nom</label>
            <input id="name" formControlName="name" type="text" placeholder="" required
                   [ngClass]="{'!border-[#f74350] !border-2': manageCertificateForm.get('name')?.invalid && manageCertificateForm.get('name')!.touched}"
                   class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
            <div *ngIf="manageCertificateForm.get('name')!.hasError('required') && manageCertificateForm.get('name')!.touched"
                 class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
        <div class="px-2">
          <div class="my-6 flex flex-col">
            <label class="font-semibold text-base text-gray-600 dark:text-night-100" >Image d'arrière-plan <span class="text-pink-500 text-xs">Suggéré : (930px * 600px)</span></label>
            <div class="flex space-x-3 flex-row">
              <div class="p-2.5 rounded-lg align-bottom bg-slate-300 cursor-pointer" (click)="browserMedia('background')">
                <div class="m-0 border-2 rounded-lg border-dotted border-borderColor w-[148px] h-[148px] bg-background">
                  <img *ngIf="selectedBackground" [src]="selectedBackground.secure_url" alt="certificat backgound" class="object-cover w-full rounded-lg" />
                </div>
              </div>
            </div>
            <div *ngIf="submitted && !selectedBackground"
                 class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
        <div class="px-2">
          <div class="my-6 space-y-2 flex flex-col">
            <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="title">Titre</label>
              <input id="title" formControlName="title" type="text" placeholder="" required (change)="fillInput($event, 'title'); saveChange('title')" [matAutocomplete]="auto"
                     [ngClass]="{'!border-[#f74350] !border-2': manageCertificateForm.get('title')?.invalid && manageCertificateForm.get('title')!.touched}"
                     class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectUser('title')">
                <mat-option *ngFor="let auto of filteredAutosTitle | async" [value]="auto">
                  {{ auto }}
                </mat-option>
              </mat-autocomplete>
            <div *ngIf="manageCertificateForm.get('title')!.hasError('required') && manageCertificateForm.get('title')!.touched"
                 class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
              Ce champ est obligatoire.
            </div>
          </div>
        </div>
        <div class="px-2">
          <div class="my-6 space-y-2 flex flex-col">
            <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="sub_title">Sous-titre</label>
            <input id="sub_title" formControlName="sub_title" type="text" placeholder="" (change)="fillInput($event, 'sub_title'); saveChange('sub_title')" [matAutocomplete]="autoSubTitle"
                   class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor">
              <mat-autocomplete #autoSubTitle="matAutocomplete" (optionSelected)="selectUser('sub_title')">
                <mat-option *ngFor="let auto of filteredAutosSubTitle | async" [value]="auto">
                  {{ auto }}
                </mat-option>
              </mat-autocomplete>
          </div>
        </div>
        <div class="px-2">
          <div class="my-6 space-y-2 flex flex-col">
            <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="description">Description</label>
            <textarea id="description" formControlName="description" type="text" placeholder="" (change)="fillInput($event, 'description'); saveChange('description')" [matAutocomplete]="autoDescription"
                      class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor" rows="5"></textarea>
            <mat-autocomplete #autoDescription="matAutocomplete" (optionSelected)="selectUser('description')">
              <mat-option *ngFor="let auto of filteredAutosDescription | async" [value]="auto">
                {{ auto }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="px-2">
          <div class="my-6 flex flex-col">
            <label class="font-semibold text-base text-gray-600 dark:text-night-100" >Signature <span class="text-pink-500 text-xs">Suggéré : (120px * 40px)</span></label>
            <div class="flex space-x-3 flex-row">
              <div class="p-2.5 rounded-lg align-bottom bg-slate-300" (click)="browserMedia('signature')">
                <div class="m-0 border-2 rounded-lg border-dotted cursor-pointer border-borderColor w-[148px] h-[148px] bg-background">
                  <img *ngIf="selectedSignature" [src]="selectedSignature.secure_url" alt="Signature image" class="object-cover w-full rounded-lg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="flex items-center justify-end p-6 rounded-b space-x-2">
        <button class="font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 bg-transparent text-primary hover:bg-primary/10 focus-visible:ring-primary p-2 px-4 rounded-lg" type="button" (click)="bachToList()">
          Annuler</button>
        <button (click)="manageCertificate()" [disabled]="isLoading"
                class="bg-primary text-white p-2 px-4 rounded-md border-b-[3px] border-primary-dark flex items-center" type="button">
          <svg *ngIf="isLoading" class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          Enregistrer</button>
      </div>
    </div>
    <div class="flex lg:min-w-[930px] w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
      <div class="overflow-x-auto">
        <div class="example-boundary" [ngStyle]="{'background-image': 'url(' + selectedBackground?.secure_url + ')'}">
          <div *ngIf="showTitle" class="example-box-title" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="drop($event, 'title')" [cdkDragFreeDragPosition]="dragPositionTitle">
            {{ manageCertificateForm.get('title')?.value }}
          </div>
          <div *ngIf="showSubTitle" class="example-box-sub-title" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="drop($event, 'sub_title')" [cdkDragFreeDragPosition]="dragPositionSubTitle">
            {{ manageCertificateForm.get('sub_title')?.value }}
          </div>
          <div *ngIf="showDescription" class="example-box-description" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="drop($event, 'description')" [cdkDragFreeDragPosition]="dragPositionDescription">
            {{ manageCertificateForm.get('description')?.value }}
          </div>
          <div *ngIf="selectedSignature" [ngStyle]="{'background-image': 'url(' + selectedSignature.secure_url + ')'}" class="example-box-signature" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="drop($event, 'signature')" [cdkDragFreeDragPosition]="dragPositionSignature">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
