<div class="mx-auto px-4 py-4 sm:px-8" #actions>
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground" *ngIf="type == 'add'">Ajouté une publicité</h3>
      <h3 class="font-semibold text-foreground" *ngIf="type == 'edit'"> Modifié la publicité</h3>
      <div class="space-x-1 text-xs font-medium text-night-400 dark:text-night-300">
      </div>
    </div>
  </div>
  <div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full w-full py-2 sm:px-6 lg:px-8">
        @if (manageAdvertisementForm) {
          <form [formGroup]="manageAdvertisementForm">
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="title">Titre</label>
                <input id="title" formControlName="title" type="text" placeholder=""
                       class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
              </div>
            </div>
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="position">Position</label>
                <input id="position" formControlName="position" type="number" placeholder="" required
                       [ngClass]="{'!border-[#f74350] !border-2': manageAdvertisementForm.get('position')?.invalid && manageAdvertisementForm.get('position')!.touched}"
                       class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
                <div *ngIf="manageAdvertisementForm.get('position')!.hasError('required') && manageAdvertisementForm.get('position')!.touched"
                     class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="type">Type</label>

                <select id="type" formControlName="type" (change)="onChangeType($event)"
                        [ngClass]="{'!border-[#f74350] !border-2': manageAdvertisementForm.get('type')?.invalid && manageAdvertisementForm.get('type')!.touched}"
                        class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor">
                  <option value="image">Image</option>
                  <option value="video">Vidéo</option>
                </select>

                <div *ngIf="manageAdvertisementForm.get('type')!.hasError('required') && manageAdvertisementForm.get('type')!.touched"
                     class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
            @if (selectedType == 'image') {
              <div class="md:px-12 md:flex space-x-4">
                <div class="my-6 space-x-3 flex flex-row items-center">
                  <label for="status" class="font-semibold text-base text-gray-600 dark:text-night-100" >Image</label>
                  <button (click)="browserMedia()" class="bg-card font-semibold text-base text-gray-600 dark:text-night-100 p-2 px-4 rounded-md border-b-[3px] border-primary-dark flex items-center" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-10 w-10 text-primary mr-2" fill="currentColor">
                      <path d="M19.906 9c.382 0 .749.057 1.094.162V9a3 3 0 0 0-3-3h-3.879a.75.75 0 0 1-.53-.22L11.47 3.66A2.25 2.25 0 0 0 9.879 3H6a3 3 0 0 0-3 3v3.162A3.756 3.756 0 0 1 4.094 9h15.812ZM4.094 10.5a2.25 2.25 0 0 0-2.227 2.568l.857 6A2.25 2.25 0 0 0 4.951 21H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-2.227-2.568H4.094Z" />
                    </svg>
                    <span class="max-md:hidden">Parcourir</span>
                  </button>
                  <div class="p-2.5 rounded-lg align-bottom bg-slate-300">
                    <div class="m-0 border-2 rounded-lg border-dotted border-borderColor w-[148px] h-[148px] bg-background">
                      <img *ngIf="selectedImage" [src]="selectedImage.secure_url" alt="Image formateur" class="object-cover w-full rounded-lg" />
                    </div>
                  </div>
                </div>
              </div>
            } @else {
              <div class="px-12">
                <div class="my-6 space-y-2 flex flex-col">
                  <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="position">Vidéo</label>
                  <input id="video" formControlName="video" type="text" placeholder="" required
                         [ngClass]="{'!border-[#f74350] !border-2': manageAdvertisementForm.get('video')?.invalid && manageAdvertisementForm.get('video')!.touched}"
                         class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
                  <div *ngIf="manageAdvertisementForm.get('video')!.hasError('required') && manageAdvertisementForm.get('video')!.touched"
                       class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                    Ce champ est obligatoire.
                  </div>
                </div>
              </div>
            }
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="url">URL</label>
                <input id="url" formControlName="permalink" type="url" placeholder=""
                       class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          >
              </div>
            </div>
            <div class="px-12">
              <div class="my-6 space-x-2 flex flex-row items-center">
                <label for="status" class="font-semibold text-base text-gray-600 dark:text-night-100" >Statut</label>
                <label class="inline-flex items-center cursor-pointer relative">
                  <input type="checkbox" class="sr-only peer" id="status" formControlName="status" >
                  <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#21c65f]"></div>
                </label>
                <div *ngIf="manageAdvertisementForm.get('status')!.hasError('required') && manageAdvertisementForm.get('status')!.touched"
                     class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
            <div class="px-12">
              <div class="my-6 space-y-2 flex flex-col">
                <label class="font-semibold text-base text-gray-600 dark:text-night-100" for="details">Détails</label>
                <textarea id="details" formControlName="details" type="text" placeholder="" rows="5"
                          class="bg-inputColor text-subtitleColor w-[100%] p-3 rounded-none border-t-0 border-l-0 border-r-0 border-b-2 border-borderColor focus:outline-borderColor"          ></textarea>
              </div>
            </div>
          </form>
        }
      </div>
      <div class="flex items-center justify-end p-6 rounded-b space-x-2">
        <button class="font-semibold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 bg-transparent text-primary hover:bg-primary/10 focus-visible:ring-primary p-2 px-4 rounded-lg" type="button" (click)="bachToList()">
          Annuler</button>
        <button (click)="manageAdvertisement()" [disabled]="isLoading"
                class="bg-primary text-white p-2 px-4 rounded-md border-b-[3px] border-primary-dark flex items-center" type="button">
          <svg *ngIf="isLoading" class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          Enregistrer</button>
      </div>
    </div>
  </div>
</div>
