  .background-right{
    background-image: url(../../../../../assets/images/bg-right.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 23rem;
  }


  @media screen and (min-width: 1024px) {
    .background-right {
      background-size: 28rem;
    }
  }