<section *ngIf="!isLoading" class="relative h-[82vh]">
    <div class="w-full flex flex-col items-center gap-y-4 sm:flex-row justify-between sm:items-start pb-8 sm:-mt-4">
        <h1 class="font-semibold text-2xl text-secondaryfontColor">Abonnement en cours</h1>
        <!-- <button type="button">
            <img src="assets/images/edit-00.svg" alt="edit">
        </button> -->
    </div>

    <div class="bg-[#edf6f6] w-full py-4 px-6 rounded-2xl">
        <div class="w-full flex flex-col md:flex-row gap-y-4 justify-between items-center">
            <div class="space-y-3">
                <h1 class="font-bold text-center sm:text-left text-xl text-[#13676D]">Forfait actuel</h1>
                <h2 class="font-bold text-5xl text-[#101828]">{{ currentPlan?.package?.name }}</h2>
            </div>
            <div class="flex flex-col flex-wrap md:flex-row items-center justify-center gap-x-4 gap-y-4">
                <div *ngIf="!currentPlan?.status" class="bg-[#c11f1f3d] py-1 px-3 rounded-2xl flex items-center gap-x-2">
                    <span class="w-2 h-2 bg-[#c11f1f] block rounded-lg"></span>
                    <p class="text-[#c11f1f] font-medium text-sm">Inactif</p>
                </div>
                <div *ngIf="currentPlan?.status" class="bg-[#1FC16B3D] py-1 px-3 rounded-2xl flex items-center gap-x-2">
                    <span class="w-2 h-2 bg-[#1FC16B] block rounded-lg"></span>
                    <p class="text-[#1FC16B] font-medium text-sm">Actif</p>
                </div>
                <div class="bg-[#dceded] py-1 px-3 rounded-2xl">
                    <p class="text-[#476F77] font-medium text-sm">Expire le : {{ (currentPlan?.endedAt | date) ?? 'Pour toujours'}}</p>
                </div>
                <div class="bg-[#dceded] py-1 px-3 rounded-2xl">
                    <p class="text-[#476F77] font-medium text-sm">Prochain paiement : {{ getNextPaymentDate(currentPlan?.endedAt) ? (getNextPaymentDate(currentPlan?.endedAt) | date ) : 'NA' }}</p>
                </div>
            </div>
            <div>
                <button type="button" (click)="goToSubscriptions()"
                    class="border-2 hover:bg-secondaryColor hover:text-[#e8fbfb] border-secondaryColor rounded-[40px] text-sm text-center px-12 py-3 text-secondaryColor transition duration-300 ease-in-out cursor-pointer">
                    Mise à niveau
                </button>
            </div>
        </div>
        <div class="w-full py-4">
            <div class="w-full flex flex-col sm:flex-row justify-between items-center">
                <div class="w-11/12 sm:w-1/4 space-y-2">
                    <p class="text-[#13676D] font-semibold text-sm">Équipe (jusqu'à {{ currentPlan?.usersNumber == 1 ? 0 : currentPlan?.usersNumber }})</p>
                    <p class="text-[#1B9198] font-normal text-xs">Équipe {{ usersSubscribed?.length }} sur {{ currentPlan?.usersNumber == 1 ? 0 : currentPlan?.usersNumber  }}</p>
                    <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-4">
                        <!-- <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="33 + '%'"></div> -->
                        <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="(currentPlan?.usersNumber == 1 ? 1 : ((usersSubscribed?.length) / currentPlan?.usersNumber)) * 100 + '%'"></div>

                    </div>
                </div>
                <!-- <div class="w-11/12 sm:w-1/4 space-y-2">
                    <p class="text-[#13676D] font-semibold text-sm">Cours (max 10 cours)</p>
                    <p class="text-[#1B9198] font-normal text-xs">9 cours sur 10 utilisés</p>
                    <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-4">
                        <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="90 + '%'"></div>
                    </div>
                </div>
                <div class="w-11/12 sm:w-1/4 space-y-2">
                    <p class="text-[#13676D] font-semibold text-sm">Cours des Laboratoires</p>
                    <p class="text-[#1B9198] font-normal text-xs">1 sur 1 utilisé</p>
                    <div class="w-full bg-[#B0EDF1] rounded-full h-1.5 mb-4">
                        <div class="bg-[#1B9198] h-1.5 rounded-full" [style.width]="100 + '%'"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div id="subscriptions" class="w-full mt-4">
        <h1 class="font-semibold text-2xl text-secondaryfontColor">Mise à niveau</h1>
    </div>

    <div class="py-5 mb-10">
        <div class="container mx-auto px-0">
            <div class="grid items-stretch grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 xl:gap-7">
                <div *ngFor="let plan of pricingPlans" class="flex flex-col justify-between rounded-3xl text-center border border-[#EAECF0] bg-[#edf6f6]">
                    <div class="bg-[#edf6f6] p-6 rounded-t-3xl text-center">
                        <div class="mb-4">
                            <span class="inline-block p-2 rounded-full">
                                <img [src]="'assets/images/' + (plan.duration == 0 ? 'Featured_icon' : plan.duration <=  2 ? 'Featured_icon-1' : plan.duration <= 6 ? 'Featured_icon-2' : plan.duration <= 12 ? 'Featured_icon-3' : 'Featured_icon-3') + '.svg'" alt="Featured" />
                            </span>
                        </div>
                        <h2 class="text-3xl font-bold text-[#13676D]">{{ plan.name }}</h2>
                        <p class="text-3xl xs:text-[2.75rem] text-balance font-bold text-[#101828] mt-4 mb-2 capitalize">{{ plan.price == '0.00' ? 'Gratuit' : plan.price + ' ' + plan.type }}</p>
                        <p class="text-[#689BA6] font-normal text-base mt-4 mb-8">{{ plan.duration === 0 ? 'Gratuit pour toujours' : plan.duration === 1 ? 'Facturé mensuellement' : ('Facturé tous les ' + plan.duration + ' mois') }}</p>

                        <ul class="mt-4 grid gap-y-4 w-11/12 mx-auto">
                            <li *ngFor="let feature of features[plan.id]" class="grid grid-cols-[auto,1fr] items-center">
                                <img src="assets/images/Check_icon.svg" alt="Check_icon" class="h-6 w-6" />
                                <span class="pl-4 text-left font-normal text-sm text-[#476F77]">{{ feature }}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="bg-[#EDF6F6] p-5 w-full flex justify-center rounded-b-3xl border-t border-[#EAECF0]">
                        <a class="w-full" href="/contactez-nous">
                            <button type="button"
                                class="border-2 w-5/6 hover:bg-transparent bg-[#23BAC4] hover:text-[#23BAC4] border-[#23BAC4] rounded-[40px] text-sm text-center px-10 py-3 text-white transition duration-300 ease-in-out cursor-pointer">
                                Contactez-nous
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-loader-main *ngIf="isLoading"></app-loader-main>