<div class="mx-auto px-4 py-4 sm:px-8" #actions>
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground">Liste des Capsules</h3>
      <div class="space-x-1 text-xs font-medium text-muted-foreground">
        <a href="" class="hover:text-primary">Tous les Capsules:</a>
        <span class="text-foreground">{{allCapsulesCount}}</span>
      </div>
    </div>
    <div class="inline-block space-x-4">
      <button (click)="manageCapsule('add')"
              class="flex items-center justify-center bg-primary text-white p-2 rounded-md border-b-[3px] border-primary-dark" type="button">
        <svg-icon src="assets/icons/heroicons/outline/plus.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        Ajouter une capsule</button>
    </div>
  </div>

  <div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
    <app-loader *ngIf="isLoading"></app-loader>
    <app-table-capsule-action class="mb-10" (changeStatus)="onChangeStatus($event)" (changeText)="onChangeText($event)"></app-table-capsule-action>
    <div class="overflow-x-auto">
      <table
        class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
        <thead class="border border-muted/20 text-xs text-muted-foreground">
        <tr app-table-capsule-header class="h-20" (onSort)="sortCapsules($event)"></tr>
        </thead>
        <tbody>
          @for (capsule of capsules(); track $index) {
            <tr class="hover:bg-card/50" app-table-capsule-row (updateCapsule)="manageCapsule('edit', $event)" [capsule]="capsule"></tr>
          } @empty {
            <tr>
              <td class="py-4 text-center text-sm" colspan="7">Aucun capsule trouvé</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <app-table-capsule-footer class="mt-10" (changeItemsPerPage)="onChangeItemsPerPage($event)"
                              [currentPage]="currentPage"
                              [itemsPerPage]="itemsPerPage"
                              [totalItems]="allCapsulesCount"
                              (pageChanged)="onPageChange($event)"></app-table-capsule-footer>
  </div>
</div>
