<ng-container>
  <th class="min-w-[200px]" [ngClass]="{'cursor-pointer hover:bg-card': sortable}" (click)="setSortColumn('title')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Titre
      <app-sortable *ngIf="sortable" name="title" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>

  <th class="min-w-[200px]" [ngClass]="{'cursor-pointer hover:bg-card': sortable}" (click)="setSortColumn('type')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Type
      <app-sortable *ngIf="sortable" name="type" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[50px]">Statut</th>
  <th class="min-w-[150px]">Enchaînement</th>
  <th class="min-w-[150px]" [ngClass]="{'cursor-pointer hover:bg-card': sortable}" (click)="setSortColumn('createdAt')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Créé à
      <app-sortable *ngIf="sortable" name="createdAt" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="w-[60px]"></th>
</ng-container>
