<form class="my-10 space-y-6" [formGroup]="form" *ngIf="!sendEmail">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Mot de passe oublié <span class="text-primary">?</span></h2>
    <p class="text-sm text-muted-foreground">Entrez votre email pour réinitialiser votre mot de passe.</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input
        type="text"
        id="email"
        [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
        class="peer block"
        placeholder=" "
        formControlName="email" />
      <label
        for="email"
        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
        Adresse email
      </label>
    </div>
    <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
      <div *ngIf="form.get('email')!.hasError('email') && form.get('email')!.touched"
           class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
        Insérez une adresse e-mail valide.
      </div>
      <div *ngIf="form.get('email')!.hasError('required') && form.get('email')!.touched"
           class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
        Ce champ est obligatoire.
      </div>
    </div>
  </div>
  <!-- Submit Button -->
  <div class="flex justify-end space-x-6">
        <button class="text-sm text-muted-foreground border-b-[3px] border-primary flex items-end hover:text-primary" type="button" routerLink="/admin985xilinp/auth/sign-in">
          Retour connexion</button>

      <button [disabled]="isLoading" class="bg-primary text-white p-2 rounded-md border-b-[3px] border-primary-dark flex items-center" type="button" (click)="onSubmit()">
        <svg *ngIf="isLoading" class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>
        Réinitialiser</button>

  </div>
</form>
<form class="my-10 space-y-6" [formGroup]="formToken" *ngIf="sendEmail">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Mot de passe oublié <span class="text-primary">?</span></h2>
  </div>

  <div class="space-y-3 text-left">
    <div class="space-y-3 text-left">
      <div class="form__group">
        <div class="relative">
          <input
            type="text"
            id="token"
            [ngClass]="{ 'is__invalid-input': submittedToken && fToken['token'].errors }"
            class="peer block"
            placeholder=""
            formControlName="token" />
          <label
            for="password"
            class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            Token reçu par email
          </label>
        </div>
        <div *ngIf="formToken.get('token')!.hasError('required') && formToken.get('token')!.touched"
             class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="form__group">
        <div class="relative">
          <input
            [type]="passwordTextType1 ? 'text' : 'password'"
            id="password"
            [ngClass]="{ 'is__invalid-input': submittedToken && fToken['password'].errors }"
            class="peer block"
            placeholder=""
            formControlName="password" />
          <label
            for="password"
            class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            Mot de passe
          </label>
          <span class="absolute top-2.5 right-5 cursor-pointer text-muted-foreground" (click)="togglePasswordTextType(1)">
          <svg-icon
            [src]="
              !passwordTextType1
                ? 'assets/icons/heroicons/outline/eye-off.svg'
                : 'assets/icons/heroicons/outline/eye.svg'
            "
            [svgClass]="'h-5 w-5'">
          </svg-icon>
        </span>
        </div>
        <div *ngIf="formToken.get('password')!.hasError('required') && formToken.get('password')!.touched"
             class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="form__group">
        <div class="relative">
          <input
            [type]="passwordTextType2 ? 'text' : 'password'"
            id="confirmPassword"
            [ngClass]="{ 'is__invalid-input': submittedToken && fToken['confirmPassword'].errors }"
            class="peer block"
            placeholder=""
            formControlName="confirmPassword" />
          <label
            for="confirmPassword"
            class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
            Confirmez le mot de passe
          </label>
          <span class="absolute top-2.5 right-5 cursor-pointer text-muted-foreground" (click)="togglePasswordTextType(2)">
          <svg-icon
            [src]="
              !passwordTextType2
                ? 'assets/icons/heroicons/outline/eye-off.svg'
                : 'assets/icons/heroicons/outline/eye.svg'
            "
            [svgClass]="'h-5 w-5'">
          </svg-icon>
        </span>
        </div>
        <div *ngIf="formToken.errors?.['PasswordNoMatch'] && formToken.get('confirmPassword')!.touched"
             class="text-red-500 text-left text-sm ml-2 !mb-2.5 !mt-0">
          Le mot de passe ne correspond pas.
        </div>
      </div>
    </div>
  </div>
  <!-- Submit Button -->
  <div class="flex justify-end space-x-6">
        <button class="text-sm text-muted-foreground border-b-[3px] border-primary flex items-end hover:text-primary" type="button" routerLink="/admin985xilinp/auth/sign-in">
          Retour connexion</button>

      <button [disabled]="isLoading" class="bg-primary text-white p-2 rounded-md border-b-[3px] border-primary-dark flex items-center" type="button" (click)="onSubmitToken()">
        <svg *ngIf="isLoading" class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>
        Réinitialiser</button>

  </div>
</form>
