input[type="date"].no-calendar-icon {
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  &::-moz-calendar-picker-indicator {
    display: none;
  }

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  color: #366464;

  background-image: url('../../../../../assets/images/Checkbox.png') !important;

  &:checked {
    background-image: url('../../../../../assets/images/Checkbox-active.png') !important;
  }
}  

.custom-select {
  background: #e8fafb; 
}
  
.custom-background {
  background: linear-gradient(170deg, rgb(13, 27, 42) 46%, rgb(209, 250, 148) 180%);
}
  
.custom-style .mat-mdc-text-field-wrapper:hover {
  background: transparent !important;
}

::ng-deep {

  .tel-form mat-form-field .mat-mdc-text-field-wrapper:hover {
    background: transparent !important;
}


  .tel-form{
    border: none !important;
    background: #e9fafc !important;
  }
  
  .mat-mdc-form-field{
    background: transparent !important;
  }
  
  .mat-mdc-text-field-wrapper{
    background: transparent !important;
    padding-left: 0 !important;
  }

  .mat-mdc-text-field-wrapper:hover {
    background: transparent !important;
  }

  .mat-select-search-input, .tel-mat-select-pane .mat-mdc-select-panel {
    background: #e8fafb !important;
  }

  .mat-mdc-select, .mat-mdc-input-element{
    border: 1px solid #88bfbf !important;

  }
  .mat-mdc-input-element{
    padding: 15px !important;
    border-radius: 14px !important;
  }

  .mat-mdc-select{
    padding: 14px !important;
    border-radius: 14px !important;
  }

  .mat-mdc-select-arrow svg{
    margin-left: 5px !important;
  }

  .mat-mdc-option{
    border-bottom: 1px solid #a4cece !important;
  }

  .mat-mdc-form-field-icon-suffix {
    display: block !important;
  }

  .mat-mdc-form-field-icon-suffix{
    position: absolute !important;
    left: 10px !important;
  }

  .mat-mdc-form-field-icon-suffix svg{
    color: #13676d !important;
  }

  .mat-mdc-form-field-infix input{
    padding-left: 45px !important;
  }

  .mat-mdc-form-field-infix input:focus{
    padding-left: 45px !important;
    // border-color: #274848 !important;
    border: 2px solid #274848 !important;
  }

  .mat-mdc-floating-label{
    position: absolute !important;
    top: 35px !important;
    left: 45px !important;
    font-family: 'SF Pro Display' !important;
    color: #476f77 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
  }
  .mat-mdc-form-field-required-marker {
    display: none !important;
  }

  .mdc-text-field__input{
    padding-bottom: 8px !important;
    padding-top: 20px !important;
  }

  // .mat-mdc-text-field-wrapper, .mat-mdc-form-field-icon-suffix, .mdc-floating-label{
  //   pointer-events: none !important;
  // }

//   .tel-form.no-hover .mat-mdc-text-field-wrapper:hover {
//     background-color: transparent !important; // Maintain transparency
//     box-shadow: none !important; // Remove shadow
//     border: none !important; // Remove border effects
// }
  

}



