<section>
    <div class="relative w-full h-full">
        <div *ngIf="!validKey" class="w-full h-full flex items-center">
            <div class="flex w-full h-screen">
                <div class="hidden md:flex w-[50%] bg-[#101E1F] flex-col items-center justify-center">
                    <video class="h-auto rounded-[40px] w-[100%]" autoplay muted playsinline loop>
                        <source src="assets/video/video-inscription.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- <div class="hidden md:flex w-[45%] lg:w-[55%] xl:w-[50%]  space-y-4 lg:space-y-8 flex-col items-start lg:items-center justify-center lg:justify-start">
                    <div class="w-full">
                        <img class="h-auto rounded-[40px] w-full" src="assets/images/container.png" alt="container">
                    </div>
                    <div class="md:flex flex-col lg:flex-row lg:items-start gap-4 lg:gap-8 w-full hidden">
                        <div class="bg-[#d1fa94] px-6 py-10 lg:py-16 xl:py-14 xl:px-10 2xl:py-20 rounded-[50px] w-full 2xl:w-1/2">
                            <h1 class="text-5xl lg:text-[5.5rem] xl:text-9xl xl:leading-[150px] tracking-[-3px] text-fontColor">+75</h1>
                            <h3 class="mt-2 mb-2 xl:mt-8 xl:mb-6 text-xl xl:text-2xl leading-[24px] font-semibold text-[#13676D]">Cours dirigés par des experts</h3>
                            <p class="text-sm lg:leading-[24px] text-[#13676D]">Apprenez auprès de professionnels de pointe et de formateurs possédant une expérience pratique des soins médicaux et de beauté.</p>
                        </div>
                        <div class="bg-fontColor px-6 py-10 lg:py-16 xl:py-14 xl:px-10 2xl:py-20 rounded-[50px] w-full 2xl:w-1/2">
                            <h1 class="text-5xl lg:text-[5.5rem] xl:text-9xl xl:leading-[150px] tracking-[-3px] text-secondaryColor">+75</h1>
                            <h3 class="mt-2 mb-2 xl:mt-8 xl:mb-6 text-xl xl:text-2xl leading-[24px] font-semibold text-white">Cours dirigés par des experts</h3>
                            <p class="text-sm lg:leading-[24px] text-secondaryColor">Apprenez auprès de professionnels de pointe et de formateurs possédant une expérience pratique des soins médicaux et de beauté.</p>
                        </div>
                    </div>
                </div> -->
                <div class="w-full h-screen px-8 lg:px-2 md:w-[50%] lg:h-auto custom-background">
                    <div class="flex flex-col justify-center items-center h-full lg:px-20">
                        <div class="w-full xl:w-4/5 2xl:w-1/2 2xl:-ml-48">
                            <a class="flex items-center justify-start gap-x-4 my-4 cursor-pointer" routerLink="/">
                                <img src="assets/images/arrow-back-simple.png" alt="arrow-back">
                                <h6 class="text-titleColor font-semibold text-xs">Retour au site</h6>
                            </a>
                            <div class="mb-6">
                                <h2 class="font-medium text-3xl xs:text-5xl xs:leading-10 text-secondaryfontColor mb-3">
                                    Créer un
                                    compte
                                </h2>
                                <p class="font-light text-sm leading-6 tracking-[-3%] text-titleColor">Commencez dès
                                    maintenant avec votre compte Galiocare</p>
                            </div>

                            <div *ngIf="handleResponse || handleError">
                                <div class="flex items-center p-3 mb-6 rounded-xl shadow-lg animate-fadeIn border"
                                    [ngClass]="{
                                    '!bg-red-100 border-red-400 text-red-700': handleError || handleResponse
                                  }">
                                    <svg (click)="closeAlert()" class="cursor-pointer w-6 h-6 mr-2" [ngClass]="{
                                      '!text-red-500': handleError || handleResponse
                                    }" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M18.364 5.636l-12.728 12.728M5.636 5.636l12.728 12.728">
                                        </path>
                                    </svg>
                                    <p class="font-semibold text-sm">
                                        {{ getAlertMessage() }}
                                    </p>
                                </div>
                            </div>

                            <div>
                                <form class="space-y-7" [formGroup]="activationKeyForm" (ngSubmit)="keyCheck()">
                                    <div class="relative w-full">
                                        <input type="text" formControlName="key" id="key" placeholder="" required
                                            class="w-full peer transition duration-200 ease-linear outline-none bg-[#e8fafb] border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4" />
                                        <label for="key"
                                            class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Clé
                                            d'activation</label>
                                        <div class="absolute top-[17px] right-4">
                                            <img src="assets/images/lock.png" alt="lock-1">
                                        </div>
                                    </div>

                                    <div *ngIf="activationKeyForm.get('key')!.hasError('required') && activationKeyForm.get('key')!.touched"
                                        class="text-red-500 text-left !mt-1 text-sm ml-1">
                                        Le champ est obligatoire.
                                    </div>

                                    <p class="text-titleColor font-light text-sm tracking-[-3%] ml-1 select-none !mt-3">
                                        Obtenez votre lien d’activation en cliquant
                                        <a [routerLink]="'/contactez-nous'"
                                            class="text-secondaryColor font-light text-sm tracking-[-3%] cursor-pointer">
                                            ici</a>
                                    </p>

                                    <div class="w-full">
                                        <button type="submit"
                                            class="border-2 w-full border-fontColor bg-fontColor rounded-[40px] text-sm text-center px-11 py-3 mb-6 !mt-2 text-secondaryColor">
                                            Créer un compte
                                        </button>
                                    </div>

                                    <p class="text-titleColor font-light text-sm tracking-[-3%] ml-1 select-none">
                                        Vous avez déjà un compte ?
                                        <a [routerLink]="'/connexion'"
                                            class="text-secondaryColor font-light text-sm tracking-[-3%] cursor-pointer">
                                            Connectez-vous
                                        </a>
                                    </p>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="validKey"
            class="w-full custom-background md:min-h-screen xl:h-full bg-[#e8fafb] flex items-center px-5">
            <div class="flex pl-1 2xl:pt-10 2xl:pb-20 w-full">
                <div class="w-full mx-auto">
                    <div class="flex flex-col justify-center items-center h-full">
                        <div class="w-full xl:w-4/5 2xl:w-1/2 pt-12 pb-16">
                            <a class="flex items-center justify-start gap-x-4 my-4 cursor-pointer" routerLink="/">
                                <img src="assets/images/arrow-back-simple.png" alt="arrow-back">
                                <h6 class="text-titleColor font-semibold text-xs">Retour au site</h6>
                            </a>
                            <div class="mb-6">
                                <h2 class="font-medium text-4xl xs:text-5xl xs:leading-10 text-secondaryfontColor mb-3">
                                    Complétez
                                    votre profil
                                </h2>
                                <p class="font-light text-sm leading-6 tracking-[-3%] text-titleColor">Veuillez entrer
                                    vos informations pour continuer</p>
                            </div>
                            <div *ngIf="handleResponse || handleErrorResponse || handleError">
                                <div class="flex items-center p-3 mb-6 rounded-xl shadow-lg animate-fadeIn border"
                                    [ngClass]="{
                                    'bg-red-100 border-red-400 text-red-700': handleError,
                                    'bg-yellow-100 border-yellow-400 text-yellow-700': handleErrorResponse,
                                    'bg-green-100 border-green-400 text-green-700': handleResponse
                                  }">
                                    <svg (click)="closeAlert()" class="cursor-pointer w-6 h-6 mr-2" [ngClass]="{
                                      'text-red-500': handleError,
                                      'text-yellow-500': handleErrorResponse,
                                      'text-green-500': handleResponse
                                    }" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M18.364 5.636l-12.728 12.728M5.636 5.636l12.728 12.728">
                                        </path>
                                    </svg>
                                    <p class="font-semibold text-sm">
                                        {{ getAlertMessageRegister() }}
                                    </p>
                                </div>
                            </div>
                            <div>
                                <form class="space-y-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                    <div
                                        class="flex flex-col md:flex-row items-start w-full gap-x-8 gap-y-6 md:gap-y-0">
                                        <div class="w-full">
                                            <div class="relative mb-3">
                                                <input type="lastName" formControlName="lastName" id="lastName"
                                                    placeholder="" required
                                                    class="w-full peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4" />
                                                <label for="key"
                                                    class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Nom</label>
                                            </div>
                                            <div *ngIf="registerForm.get('lastName')!.hasError('required') && registerForm.get('lastName')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Le champ est obligatoire.
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <div class="relative mb-3">
                                                <input type="firstName" formControlName="firstName" id="firstName"
                                                    placeholder="" required
                                                    class="w-full peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4" />
                                                <label for="firstName"
                                                    class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Prénom</label>
                                            </div>
                                            <div *ngIf="registerForm.get('firstName')!.hasError('required') && registerForm.get('firstName')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Le champ est obligatoire.
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="flex flex-col md:flex-row items-start w-full gap-x-8 gap-y-6 md:gap-y-0">
                                        <div class="w-full">
                                            <div class="flex items-center gap-x-4 md:mt-4">
                                                <div class="flex items-center gap-x-2">
                                                    <input class="!ring-fontColor" type="radio" formControlName="gender"
                                                        value="Male" name="gender" id="gender-male" checked />
                                                    <p class="text-base leading-7 font-medium text-titleColor">Masculin
                                                    </p>
                                                </div>

                                                <div class="flex items-center gap-x-2">
                                                    <input class="!ring-fontColor" type="radio" formControlName="gender"
                                                        value="Female" name="gender" id="gender-female" />
                                                    <p class="text-base leading-7 font-medium text-titleColor">Féminin
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <div class="w-full">
                                                <div class="relative mb-3">
                                                    <input type="date" formControlName="birthday" id="birthday"
                                                        placeholder="" required
                                                        class="w-full peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4 no-calendar-icon" />
                                                    <label for="birthday"
                                                        class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">
                                                        Date de naissance
                                                    </label>
                                                    <div class="absolute top-[17px] right-4 cursor-pointer"
                                                        (click)="openCalendar()">
                                                        <img src="assets/images/calendar.png" alt="calendar">
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="registerForm.get('birthday')!.hasError('required') && registerForm.get('birthday')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Le champ est obligatoire.
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="flex flex-col md:flex-row items-start w-full gap-x-8 gap-y-6 md:gap-y-0">
                                        <div class="w-full">
                                            <div class="w-full relative">
                                                <input type="text" formControlName="tel" id="tel" AppPhoneNumber
                                                    placeholder="" required
                                                    class="peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] pr-4 pl-12" />
                                                <label for="tel"
                                                    class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent pl-[52px] p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Numéro
                                                    de téléphone </label>
                                                <div class="absolute top-[17px] left-4">
                                                    <img src="assets/images/phone.png" alt="phone">
                                                </div>
                                                <!-- <ngx-material-intl-tel-input class="material-intl-tel-input custom-style" #telFormField [textLabels]="textLabels" [fieldControl]="registerForm.controls['tel']" [required]="true" [autoIpLookup]="false" [autoSelectedCountry]="'tn'"> </ngx-material-intl-tel-input> -->

                                            </div>
                                            <div *ngIf="registerForm.get('tel')!.hasError('required') && registerForm.get('tel')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Le champ est obligatoire.
                                            </div>
                                        </div>
                                        <div class="w-full">
                                            <div class="relative mb-3">
                                                <input type="email" formControlName="email" id="email" placeholder=""
                                                    required
                                                    class="w-full peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4" />
                                                <label for="email"
                                                    class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Email</label>
                                                <div class="absolute top-[17px] right-4">
                                                    <img src="assets/images/mail.png" alt="mail-1">
                                                </div>
                                            </div>
                                            <div *ngIf="registerForm.get('email')!.hasError('required') && registerForm.get('email')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Le champ est obligatoire.
                                            </div>
                                            <div *ngIf="registerForm.get('email')!.hasError('email') && registerForm.get('email')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                L'email saisi n'est pas valide.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-full">
                                        <p class="font-normal text-xs leading-6 -tracking-[-3%] text-fontColor">
                                            Profession
                                            details</p>
                                    </div>

                                    <div class="w-full">
                                        <div class="relative mb-3">
                                            <select id="profession"
                                                class="custom-select z-[2] !opacity-100 cursor-not-allowed text-fontColor relative w-full peer transition duration-200 ease-linearbg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4"
                                                formControlName="profession" (click)="isOpen = !isOpen"
                                                (blur)="isOpen = false">
                                                <option value="PHARMACIST_HOLDER">Pharmacien Titulaire</option>
                                                <option value="PHARMACIST">Pharmacien</option>
                                                <option value="PREPARER">Préparateurs en pharmacie</option>
                                                <option value="STUDENT">Parapharmacie</option>
                                            </select>
                                            <label for="profession"
                                                class="pt-[15px] z-20 !text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not([value=''])]:-translate-y-2 peer-[:not([value=''])]:translate-x-[0.15rem] peer-[:not([value=''])]:scale-[0.85]">
                                                Profession
                                            </label>
                                            <div class="absolute top-[17px] right-4 z-[1] transition-transform duration-300"
                                                [ngClass]="{'rotate-180': isOpen, 'rotate-0': !isOpen}">
                                                <img src="assets/images/arrow-solid-Down.png" alt="select icon" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-full">
                                        <p class="font-normal text-xs leading-6 -tracking-[-3%] text-[#476F77]">
                                            Profession
                                            details</p>
                                    </div>

                                    <div
                                        class="flex flex-col md:flex-row items-start w-full gap-x-8 gap-y-6 md:gap-y-0">
                                        <div class="w-full">
                                            <div class="relative mb-3">
                                                <input type="{{ !hidePassword ? 'password' : 'text' }}"
                                                    formControlName="password" id="password" placeholder="" required
                                                    class="peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] pr-4 pl-12" />
                                                <label for="password"
                                                    class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent pl-[52px] p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Mot
                                                    de passe</label>
                                                <div class="absolute top-[17px] left-4">
                                                    <img src="assets/images/lock.png" alt="lock-2">
                                                </div>
                                                <div (click)="togglePassword()" class="absolute top-[17px] right-4">
                                                    <img *ngIf="!hidePassword" src="assets/images/eye-open.png"
                                                        alt="eye-open-2">
                                                    <img *ngIf="hidePassword" src="assets/images/eye-close.png"
                                                        alt="eye-close-2">
                                                </div>
                                            </div>

                                            <div *ngIf="registerForm.get('password')!.hasError('required') && registerForm.get('password')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Le champ est obligatoire.
                                            </div>
                                            <p [ngClass]="{'!text-red-500': !registerForm.get('password')!.hasError('required') &&
                                             (registerForm.get('password')!.hasError('minlength') || registerForm.get('password')!.hasError('passwordInvalid')) && 
                                             registerForm.get('password')!.touched}"
                                                class="font-medium text-base leading-7 tracking-[0.75px] text-[#689BA6]">
                                                au moins 8 caractères avec un mélange de lettres majuscule et miniscule, de chiffres, de
                                                symboles.
                                            </p>
                                        </div>

                                        <div class="w-full">
                                            <div class="relative mb-3">
                                                <input type="{{ !hideConfirmPassword ? 'password' : 'text' }}"
                                                    formControlName="confirmPassword" id="confirmPassword"
                                                    placeholder="" required
                                                    class="w-full peer transition duration-200 ease-linear bg-[#e8fafb] outline-none border border-[#88BFBF] placeholder:font-medium placeholder:leading-7 placeholder:text-base text-base placeholder:text-[#274848] text-[#274848] focus:ring-fontColor focus:border-fontColor focus:outline-none rounded-2xl pt-5 pb-[10px] p-4" />
                                                <label for="confirmPassword"
                                                    class="pt-[15px] text-[#476F77] font-medium pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent p-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]">Confirmer
                                                    mot de passe</label>
                                                <div (click)="toggleConfirmPassword()"
                                                    class="absolute top-[17px] right-4">
                                                    <img *ngIf="!hideConfirmPassword" src="assets/images/eye-open.png"
                                                        alt="eye-open-1">
                                                    <img *ngIf="hideConfirmPassword" src="assets/images/eye-close.png"
                                                        alt="eye-close-1">
                                                </div>
                                            </div>
                                            <div *ngIf="registerForm.get('confirmPassword')!.hasError('required') && registerForm.get('confirmPassword')!.touched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Le champ est obligatoire.
                                            </div>
                                            <div *ngIf="passwordNotMatched"
                                                class="text-red-500 text-left !mt-1 text-sm ml-1">
                                                Les mots de passe ne correspondent pas.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-full">
                                        <button type="submit"
                                            class="border-2 w-full border-fontColor bg-fontColor rounded-[40px] text-sm text-center px-11 py-4 mb-6 !mt-2 text-secondaryColor">
                                            Complete
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-loader-main *ngIf="isLoading"></app-loader-main>
    </div>
</section>