<ng-container>
  <th class="min-w-[200px] cursor-pointer hover:bg-card" (click)="setSortColumn('name')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Nom
      <app-sortable name="name" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[200px]">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Logo
    </p>
  </th>
  <th class="min-w-[50px]">Statut</th>
  <th class="min-w-[50px] cursor-pointer hover:bg-card" (click)="setSortColumn('position')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Position
      <app-sortable name="position" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[150px] cursor-pointer hover:bg-card" (click)="setSortColumn('createdAt')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Créé à
      <app-sortable name="createdAt" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="w-[60px]"></th>
</ng-container>
