<section class="relative h-[90vh] w-full overflow-hidden">
    <div class="flex grow flex-col content-start bg-gray-100 dark:bg-night-800 h-full">
        <div *ngIf="!isLoading" class="flex grow">
            <!-- Learning Sidebar -->
            <app-learning-sidebar [cours]="cours" [menu]="isSidebarExpanded" [mobileMenu]="isMobileSidebarExpanded"
                (data)="dataRecived($event)" (tabSelected)="onTabSelected($event)"></app-learning-sidebar>

            <!-- Main content -->
            <main class="flex-grow w-full custom-background overflow-auto">
                <div class="w-full h-full">
                    <app-learning-course [cours]="cours" *ngIf="selectedTab === 'course'" ></app-learning-course>
                    <app-quiz  *ngIf="selectedTab === 'quiz'"></app-quiz>
                    <app-cours-feedback [cours]="cours" *ngIf="selectedTab === 'feedback'"></app-cours-feedback>
                </div>
            </main>
        </div>
        <app-loader-main *ngIf="isLoading"></app-loader-main>
    </div>
</section>
