<section>
    <div class="bg-[#0D1B2A]">
        <div class="relative bg-[#0D1B2A] top-20 w-full">
            <div class=" w-3/4 mx-auto lg:p-6 space-y-4">
                <h1 class="text-[#D1FA94] text-xl">Conditions Générales d'Utilisation (CGU) et Conditions Générales de
                    Vente
                    (CGV)</h1>
                <p class="text-white text-xl font-thin">
                    IMPORTANT - NOTICE QUX UTILISATEURS - VEUILLEZ LIRE ATTENTIVEMENT LE PRESENT DOCUMENT AVANT
                    D’ACCEDER OU
                    SOUSCRIRE AUX SERVICES
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        ÉDITEUR:
                    </span> La plateforme Galiocare est éditée par Galiocare, société enregistrée au
                    (Registre
                    du
                    commerce/localisation), sous le numéro (Numéro d’enregistrement), dont le siège social est situé a
                    01 Rue Hédi KHEFACHA - 2080, Ariana. Pour
                    toute question, vous pouvez nous contacter a l’adresse suivant: <br> {{mailto}}
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        HÉBERGEMENTF:
                    </span>
                    La plateforme est hébergée par (Nom de l’hébergeur), située a (l’adresse), joignable au (numéro de
                    téléphone) ou via leur site web (site).
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        PRÉAMBULE:
                    </span>
                    Les présentes conditions générales d’utilisation (CGU) définissent les modalités dans lesquelles la
                    plateforme Galiocare met à disposition des utilisateurs ses services. En accédant à la plateforme,
                    vous
                    acceptez les
                    présentes CGU sans réserve.
                </p>
                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal">
                            DÉFINITION:
                        </span>
                        Les termes et expressions identifiés par une majuscule dans le cadre des présentes CGU, auront
                        la
                        signification mentionnée ci-après:
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li> « Plateforme » : Désigne le site internet et les servies en ligne proposés par Galiocare.
                        </li>
                        <li> « Abonnement » : Désigne le contrat permettant en contrepartie du paiement d’un forfait
                            trimestriel
                            ou annuel d’avoir accès aux Vidéos accessibles via la Plateforme. Les modalités de
                            l’abonnement
                            peuvent différer selon la
                            taille de l’équipe d’une pharmacie.
                        </li>
                        <li> « Compte » : Désigne l’espace personnel de l’utilisateur sur la plateforme, permettant
                            d’accéder
                            aux services dont
                            l’accès est conditionné par l’utilisation d’identifiants placés sous le contrôle exclusif de
                            l’utilisateur. </li>

                        <li> « Utilisateur » : Toute personne physique ou morale accédant a la plateforme.
                        </li>

                        <li> « Formation » : Contenu pédagogique, incluant modules, quiz, vidéos et fiches
                            récapitulatives,
                            disponible sur la
                            plateforme.</li>

                        <li> « Vidéos » : Désigne toutes les videos mises a disposition de l’utilisateur dans le cadre
                            de
                            son
                            abonnement et
                            consultables sur la plateforme.</li>

                        <li> « Données personnelles » : Informations permettant d’identifier directement ou
                            indirectement un
                            utilisateur,
                            conformément a la réglementation en vigueur.</li>
                    </ul>
                </div>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        OBJET:
                    </span>
                    La plateforme Galiocare est une plateforme 100% en ligne dédiée aux pharmaciens, préparateurs en
                    pharmacie et
                    étudiants stagiaire, leur permettant de se former directement en ligne via des modules video
                    pédagogiques et
                    interactifs. En contrepartie d’un abonnement trimestriel ou annuel, les utilisateurs ont accès a des
                    contenus
                    éducatifs connus pour renforcer leurs compétences professionnelles et optimiser leur pratique
                    quotidienne. Galiocare
                    s’engage a offrir aux professionnels de la pharmacie les outils nécessaires pour améliorer la prise
                    en
                    charge des
                    patients tout en favorisant une montée en compétence continue. Les présentes CGU ont pour objet de
                    définir les
                    modalités d’accès et d’utilisation des services proposés par Galiocare, ainsi que les conditions de
                    création et
                    d’exploitation du compte utilisateur.
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        ACCÈS A LA PLATEFORME:
                    </span>
                    La plateforme est accessible 24h/24 et 7j/7, sauf interruption pour maintenance ou force
                    majeure. Galiocare se réserve le droit de suspendre ou de limiter l’accès aux services en cas de
                    non-respect des
                    présentes CGU.
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        SERVICES PROPOSÉS:
                    </span>
                    Galiocare offre des services de formation en ligne destinés aux pharmaciens titulaires d’une
                    officine et a leur personnel. Les formations incluent des modules, des quiz et des fiches
                    récapitulatives,
                    accompagnés d’un système de gamification.
                </p>
                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal">
                            LA CRÉATION D’UN COMPTE ET LA SOUSCRIPTION:
                        </span>
                        L’inscription sur la plateforme Galiocare est réservée aux titulaires
                        d’officines. Cette condition pourra évoluer ultérieurement afin d’inclure d’autres profils
                        professionnels. <br>
                        Etapes a suivre:
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Choisir un abonnement: le titulaire de l’officine sélectionne l’abonnement souhaité parmi
                            les
                            options proposées sur
                            la plateforme (Free, trimestriel, annuel)</li>
                        <li>Contact pour création de compte: une fois l’abonnement choisi, le titulaire de l’officine
                            doit
                            nous contacter via le
                            formulaire de contact pour procéder a la création du compte principal de l’officine.
                        </li>
                        <li>Clés d’activation pour l’équipe: après la création du compte principal, Galiocare fournira
                            les
                            clés d’activation
                            permettant a l’ensemble de l’équipe de la pharmacie (pharmaciens, préparateurs en pharmacie
                            et
                            étudiants en dernière
                            année) de créer leurs comptes individuels sur la plateforme.</li>

                        <li>Création des comptes individuels: Chaque membre de l’équipe de la pharmacie pourra créer son
                            compte en utilisant les
                            clés d’activation fournies. Lors de cette étape, les utilisateurs devront définir un mot de
                            passe personnel
                            garantissant la confidentialité de leurs données et l’accès sécurisé a leur compte.
                        </li>
                    </ul>
                </div>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal uppercase">
                        Engagement de confidentialité:
                    </span>
                    Le mot de passe choisi par l'Utilisateur est strictement personnel et ne doit en
                    aucun cas être partagé avec un tiers. L’Utilisateur s’engage à informer immédiatement Galiocare en
                    cas
                    de suspicion
                    d’accès frauduleux à son compte et à prendre des mesures immédiates, comme changer de mot de passe.
                    Galiocare décline toute responsabilité en cas d'utilisation non autorisée d'un compte liée à la
                    négligence de
                    l'Utilisateur quant à la gestion de ses identifiants.
                </p>
                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal">
                            PRIX DE L’ABONNEMENT ET MODALITÉS DE PAIEMENT:
                        </span>
                        le prix de l’abonnement correspond au forfait choisi lors de
                        l’inscription. La plateforme Galiocare propose deux types d’abonnements:
                    </p>

                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Formule freemium: Un accès gratuit et limité a certaines formations pour découvrir nos
                            services.
                        </li>
                        <li>Formule premium: Un accès complet et illimité a toutes les formations, fonctionnalités, et
                            outils de la plateforme.</li>
                    </ul>
                    <p class="text-white text-xl font-thin">
                        L’abonnement premium peut être souscrit pour une durée: Trimestrielle (3 mois renouvelables) ou
                        annuelle (un
                        engagement sur douze mois, offrant un tarif avantageux)
                        Le prix de l’abonnement Premium dépend de la taille de l’équipe au sein de votre pharmacie:
                        petite
                        équipe (jusqu’a
                        …) moyenne équipe ( …) grande équipe (…)
                    </p>
                </div>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal uppercase">
                        Les modalités de paiement:
                    </span>
                    Modification des tarifs: Galiocare se réserve le droit de modifier les prix de ses abonnements.
                    Cependant, les
                    modifications ne s’appliqueront qu’aux périodes non entamées. L’utilisateur sera informé des
                    modifications par
                    email. Au moins trente (30) jours avant leur entrée en vigueur. <br>
                    Conditions de résiliation: l’abonnement peut être résilié a tout moment. Cependant, les frais déjà
                    engagés pour une
                    période entamée ne seront pas remboursés. <br>
                    Pour toute question relative aux tarifs ou aux modalités de paiement, veuillez contacter notre
                    support
                    client.
                </p>
                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal">
                            OBLIGATIONS ET RESPONSABILITÉ DE L’ÉDITEUR:
                        </span>
                        L’éditeur de la plateforme Galiocare ne fournit aucun service de consultation médicale,
                        pharmaceutique, ou de
                        conseil en matière de santé. Les formations proposées sur la plateforme sont exclusivement
                        pédagogiques et destinées
                        à améliorer les connaissances professionnelles des utilisateurs. <br>
                        L’éditeur ne pourra en aucun cas être tenu responsable des informations scientifiques ou des
                        contenus pédagogiques
                        présentés dans les formations. Ces contenus ont pour vocation d’enrichir les compétences des
                        professionnels de
                        santé, mais leur mise en application relève de la seule responsabilité des utilisateurs.
                    </p>

                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li class="mb-4"> Mise en application des contenus: l’utilisateur n’est pas tenu de mettre en
                            pratique les
                            recommandations, protocoles
                            ou conseils évoqués dans les formations. En cas d’application de ces contenus, l’Editeur
                            décliné
                            toute
                            responsabilité concernant: Une mauvaise application des informations transmises ainsi que
                            les
                            dommages ou préjudices
                            subis par des tiers suite a cette application.
                        </li>
                        <li>Responsabilité liée aux contenus des utilisateurs: Les contenus publiés sur la plateforme
                            par
                            les Utilisateurs,
                            notamment dans des espaces interactifs tels que des forums ou des chats, relèvent de leur
                            seule
                            responsabilité. En
                            qualité d’hébergeur, l’Éditeur ne surveille pas de manière systématique les contenus
                            transmis ou
                            stockés par les
                            Utilisateurs. Par conséquent :</li>
                        <li>L’Éditeur ne pourra être tenu responsable de ces contenus.</li>
                        <li class="mb-4">Toutefois, tout contenu signalé comme inapproprié ou illicite sera examiné, et
                            des
                            mesures
                            appropriées seront prises
                            en conformité avec la réglementation en vigueur.</li>
                        <li class="mb-4"> Responsabilité en cas de manquement de l’Utilisateur: L’Éditeur ne saurait
                            être
                            tenu
                            responsable pour des dommages
                            subis par l’Utilisateur ou des tiers en cas de non-respect par l’Utilisateur de ses
                            obligations
                            contractuelles ou
                            légales.</li>
                        <li>Limitation de responsabilité de l’Éditeur: La responsabilité de l’Éditeur ne pourra être
                            engagée
                            qu’en cas de faute
                            prouvée de sa part. Cette responsabilité sera strictement limitée :</li>
                        <li>Aux préjudices directs subis par l’Utilisateur.</li>
                        <li>À l’exclusion de tout préjudice indirect, accessoire, ou spécial découlant de l’utilisation
                            de
                            la plateforme ou de
                            son contenu.</li>
                    </ul>
                    <p class="text-white text-xl font-thin">
                        L’Éditeur s’engage néanmoins à fournir un environnement sécurisé et conforme aux lois en
                        vigueur,
                        tout en mettant en
                        œuvre les moyens nécessaires pour assurer la disponibilité et la qualité des services proposés.
                    </p>
                </div>
                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal">
                            OBLIGATIONS DES UTILISATEURS:
                        </span>
                        L’utilisateur est responsable de ses actions sur la plateforme. Il s’engage à utiliser
                        la plateforme de façon loyale dans le respect des présentes CGU en respectant les législations
                        et
                        les
                        réglementations en vigueur, a l’ordre public, aux bonnes moeurs et aux droits des tiers.
                    </p>

                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Fournir des informations exactes lors de l’inscription.</li>
                        <li>Ne pas utiliser la plateforme a des fins illégales ou contraires aux bonnes moeurs.</li>
                        <li>Respecter les droits de propriété intellectuelle de Galiocare ou de ses partenaires.
                        </li>
                        <li>S’interdit de télécharger les videos mises a sa disposition sur la plateforme et procéder a
                            des
                            captures d’écran
                            lorsqu’il navigue sur la plateforme.</li>

                        <li>Dans le cadre du service « CHAT », l’utilisateur s’engage a ne pas publier de messages ou de
                            contenus:
                        </li>
                        <li>Susceptibles de porter atteinte a la vie privée, a l’honneur, a la réputation et la dignité
                            d’autrui.
                        </li>
                        <li>Qui contiennent des injures, obscénités, des éléments a caractère pornographique, violent,
                            dénigrant ou
                            diffamatoire.</li>
                        <li>Correspondant a l’exercice d’une activité commerciale: messages publicitaires, promotionnels
                            ou
                            commerciaux, petites
                            annonces et plus généralement tout message comportant des coordonnées personnelles ou
                            professionnelles (numéro de
                            téléphone, adresse postale ou électronique) ou liens vers des sites tiers.</li>
                        <li> Qui porteraient atteinte aux droits de propriété intellectuelle (notamment, droit d’auteur,
                            marques, dessins et
                            modèles protégés, etc.) de quelque personne que ce soit.</li>

                    </ul>
                    <p class="text-white text-xl font-thin">
                        Tout usage illégal ou de manière générale non autorisé des services de la Plateforme entraînera
                        la
                        suppression
                        immédiate du Compte de l’Utilisateur, sans préjudice pour l’Editeur de toute action en justice
                        aux
                        fins
                        d’indemnisation. Enfin, outre la condamnation éventuelle au paiement de dommages et intérêts,
                        l’Utilisateur pourrait
                        le cas échéant encourir à titre personnel, les sanctions pénales spécifiques aux contenus
                        litigieux.
                    </p>
                </div>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        PROPRIÉTÉ INTELLECTUELLE:
                    </span>
                    Le contenu de la Plateforme, ainsi que les marques, les dessins, les modèles, les images
                    animées ou non, les textes, les photographies, les logos, les chartes graphiques, les noms de
                    domaines,
                    le design,
                    le savoir-faire de Galiocare et tous les autres contenus composant la plateforme, sans que cette
                    liste
                    soit
                    exhaustive, sont la propriété exclusive de Galiocare ou des partenaires ou tiers qui lui ont concédé
                    une
                    licence, et
                    sont protégés par des droits de propriété intellectuelle reconnus selon les lois en vigueur.
                    Galiocare
                    accorde a
                    l’utilisateur un droit personnel, non exclusif et non transférable d’accès et d’utilisation de la
                    plateforme, sous
                    réserve de son acceptation et du respect des présentes CGU. Tout autre droit est expressément exclu
                    sans
                    l’accord
                    préalable écrit de Galiocare. Les présentes n’emportent aucune cession d’aucune sorte de droits de
                    propriété
                    intellectuelle sur les éléments au bénéfice de l’utilisateur. En particulier, tout téléchargement,
                    reproduction,
                    capture d’écran, représentation, adaptation, décompilation ou suppression totale ou partielle de
                    tout ou
                    partie des
                    éléments, sans autorisation expresse de Galiocare ou des titulaires de droits sur ces contenus, est
                    interdit et
                    constituerait une contrefaçon sanctionnée par la loi. En conséquence, l’utilisateur s’interdit tout
                    agissement et
                    tout acte susceptible de porter atteinte directement ou indirectement aux droits de propriété
                    intellectuelle de
                    Galiocare.
                </p>
                <div>
                    <p class="text-white text-xl font-thin">
                        <span class="text-[#23BAC4] font-normal">
                            DURÉE ET RESILIATION:
                        </span>
                        l’abonnement a la plateforme Galiocare peut être souscrit pour une durée trimestrielle ou
                        annuelle. L’abonnement trimestriel est valable pour une période de (3) nous a compter de la date
                        d’activation,
                        renouvelable par une nouvelle souscription avant la fin de la période. L’abonnement annuel est
                        valable pour une
                        période de douze (12) mois, renouvelable par une nouvelle souscription avant l’échéance. <br>
                        Pour continuer à bénéficier des services de la plateforme, l’Utilisateur devra effectuer un
                        nouveau
                        règlement avant
                        la fin de la période d’Abonnement en cours, par chèque, virement ou en espèces, selon les
                        modalités
                        convenues avec
                        l’Éditeur. <br>
                        Résiliation par l’Éditeur <br>
                        L’Éditeur se réserve le droit de résilier un Compte utilisateur à tout moment, sans préavis,
                        dans
                        les cas suivants :
                    </p>

                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Non-respect des Conditions Générales d’Utilisation.</li>
                        <li>Usage abusif ou frauduleux de la plateforme.</li>
                        <li>Suite à une décision judiciaire ou à un événement de force majeure.</li>
                    </ul>
                    <p class="text-white text-xl font-thin">
                        L’Utilisateur sera informé par tout moyen approprié des raisons ayant conduit à cette décision.
                        Dès
                        la résiliation :
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Le Compte de l’Utilisateur sera définitivement désactivé.</li>
                        <li>L’accès à la plateforme sera immédiatement suspendu.
                        </li>
                    </ul>
                    <p class="text-white text-xl font-thin">
                        Conséquences de la Résiliation
                    </p>
                    <p class="text-white text-xl font-thin">
                        Lors de la résiliation, quels qu’en soient les motifs :
                    </p>
                    <ul class="text-white text-xl font-thin list-disc ml-6">
                        <li>Tous les droits d’accès et licences accordés à l’Utilisateur seront immédiatement révoqués.
                        </li>
                        <li>L’Utilisateur devra cesser toute utilisation de la plateforme.</li>
                    </ul>
                    <p class="text-white text-xl font-thin">
                        Aucune indemnité ne pourra être demandée par l’Utilisateur à la suite de cette résiliation. De
                        plus,
                        l’Éditeur se
                        réserve le droit de réclamer des dommages et intérêts pour les préjudices subis en raison du
                        non-respect des
                        engagements contractuels de l’Utilisateur.
                    </p>
                </div>

                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        SUSPENSION ET SUPPRESSION DE L’ACCÈS AU COMPTE:
                    </span>
                    l’éditeur se réserve le droit de suspendre et/ou supprimer le compte
                    de tout utilisateur qui ne se conforme pas aux présentes CGU et/ou qui enfreint la loi, notamment en
                    diffusant sur
                    le CHAT des messages illicites ou odieux, tels que ceux listés a l’article 8 des présentes CGU.
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        DONNÉES PERSONNELLES:
                    </span>
                    Les données collectées sur la plateforme sont traitées dans le respect de la réglementation en
                    vigueur. Pour plus de détails, veuillez consulter notre politique de confidentialité.
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        MODIFICATION DES CGU:
                    </span>
                    Galiocare se réserve le droit de modifier les présentes CGU a tout moment. Les modifications
                    seront communiquées aux utilisateurs via la plateforme.
                </p>
                <p class="text-white text-xl font-thin">
                    <span class="text-[#23BAC4] font-normal">
                        DROIT APPLICABLE ET LITIGES:
                    </span>
                    Les présentes CGU sont régies par le droit tunisien. Tout litige sera soumis a la
                    juridiction compétente de Tunis.
                </p>

            </div>
        </div>
    </div>
</section>