<ng-container #actions>
  <td>{{ trainer.name }}</td>
  <td>
    <figure>
      <img class="w-20 h-20 rounded-full object-cover" src="{{ trainer.image?.secure_url }}" alt="">
    </figure>
  </td>
  <td>
    <ul class="list-disc">
      <li *ngFor="let provider of trainer.providers">{{ provider.name }}</li>
    </ul>
  </td>
  <td>
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" class="sr-only peer" (click)="onChangeStatus($event, trainer.id, trainer.status)" [checked]="trainer.status == 1">
      <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[#21c65f]"></div>
    </label>
  </td>
  <td>{{ trainer.createdAt | date:"dd-MM-yyyy" }}</td>
  <td class="text-center">
    <button (click)="onEditTrainer(trainer.id)"
      class="flex h-7 w-7 items-center text-red-600 justify-center rounded-md hover:bg-card hover:text-red-800">
      <svg-icon src="./assets/icons/heroicons/outline/pencil-square.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
    </button>
  </td>
</ng-container>

