<div class="w-full my-4">
    <div class="w-auto">
        <div class="w-full p-6 bg-[#EDF6F6] rounded-3xl space-y-4">
            <div *ngIf="rating" class="max-w-sm relative">
                <!-- Star Rating -->
                <div class="flex items-center space-x-1 mb-4">
                    <div class="flex space-x-1">
                        <svg *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                            (click)="onStarClick(i + 1)" xmlns="http://www.w3.org/2000/svg"
                            [attr.fill]="i < currentRating ? '#FCD34D' : 'none'"
                            class="w-6 h-6 cursor-pointer" viewBox="0 0 24 24" stroke="#FCD34D"
                            stroke-width="2">

                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 2l2.94 5.97L22 9.27l-4.81 4.69 1.14 6.62L12 17.77l-6.33 3.82 1.14-6.62L2 9.27l7.06-1.3L12 2z" />
                        </svg>
                    </div>
                </div>

                <!-- Review Content -->
                <p class="text-sm text-[#19272A] mb-4">{{ rating?.comment }}</p>

                <!-- Date -->
                <p class="text-xs text-[#64748B] mb-4 capitalize">{{ rating?.createdAt | date }}</p>

                <!-- User Info -->
                <div class="flex items-center">
                    <img *ngIf="!rating?.user?.img_link"  class="w-10 h-10 rounded-full object-contain mr-4" src="assets/images/default-img.png"
                    alt="User profile picture" />
                    <img *ngIf="rating?.user?.img_link" class="w-10 h-10 rounded-full object-contain mr-4" [src]="rating?.user?.img_link" alt="User profile picture" />
                    <div>
                        <p class="text-sm font-semibold text[#19272A]">{{ rating?.user?.firstName }} {{ rating?.user?.lastName }}</p>
                        <p class="text-xs font-semibold text-[#476F77]">{{ rating?.user?.firstName + '.' + rating?.user?.lastName}}</p>
                    </div>
                </div>

                <!-- Show More -->
                <a [routerLink]="'/notre-plateforme/cours/avis/' + coursId" class="flex items-center text-sm text-[#23BAC4] mt-8 font-semibold">
                    Afficher plus
                    <svg class="w-4 h-4 ml-1" fill="none" stroke="#23BAC4" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div *ngIf="!rating">
                <p class="text-sm text-[#23BAC4] font-semibold">Aucun avis trouvé</p>
            </div>
        </div>
    </div>
</div>