/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f3f4f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b0edf1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1b9198;
}

.custom-h{
    height: -webkit-fill-available;
}