<div class="flex flex-wrap items-center justify-between gap-2 py-3">
  <div class="flex flex-wrap gap-6">
    <div class="flex">
      <label class="relative text-muted-foreground">
        <div class="absolute left-2.5 top-3.5">
          <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input class="pl-8 pr-2 w-[300px]" placeholder="Rechercher..." type="text" value="" formControlName="text"/>
        </form>
      </label>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <select class="w-40 text-muted-foreground" (change)="onChangeStatus($event)">
        <option disabled selected>-- Statut --</option>
        <option value="">Tous</option>
        <option value="0">Incomplète</option>
        <option value="1">Complète</option>
      </select>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <select id="course" (change)="onSelectCourse($event)" class="w-40 text-muted-foreground">
        <option disabled selected>-- Formation --</option>
        <option value="">Tous</option>
        <option *ngFor="let course of courses" value="{{ course.id }}">{{ course.title }}</option>
      </select>
    </div>
    <div class="flex flex-wrap gap-2.5" *ngIf="selectedCourse">
      <select id="section" (change)="onSelectSection($event)" class="w-40 text-muted-foreground">
        <option disabled selected>-- Section --</option>
        <option value="">Tous</option>
        <option *ngFor="let section of selectedCourse.sections" value="{{ section.id }}">{{ section.title }}</option>
      </select>
    </div>
  </div>
</div>
