<ng-container>
  <th class="min-w-[400px]" [ngClass]="{'cursor-pointer hover:bg-card': sortable}" (click)="setSortColumn('text')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Texte
      <app-sortable *ngIf="sortable" name="text" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[200px]" [ngClass]="{'cursor-pointer hover:bg-card': sortable}" (click)="setSortColumn('type')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Type
      <app-sortable *ngIf="sortable" name="type" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[50px]" [ngClass]="{'cursor-pointer hover:bg-card': sortable}" (click)="setSortColumn('points')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Points
      <app-sortable *ngIf="sortable" name="points" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="min-w-[50px]">Statut</th>

  <th class="min-w-[150px]" [ngClass]="{'cursor-pointer hover:bg-card': sortable}" (click)="setSortColumn('createdAt')">
    <p
      class="flex items-center justify-between gap-2 leading-none">
      Créé à
      <app-sortable *ngIf="sortable" name="createdAt" [sortConfig]="sortConfig"></app-sortable>
    </p>
  </th>
  <th class="w-[60px]"></th>
</ng-container>
